.white-popup.mfp-hide(id="form-popup-thanks-appointment")
    .button-close.mfp-close
    .popup__wrap-text
        h2.popup__title.title.title_gray запись прошла успешно
        span.popup__text спасибо! что обратились к нам