.white-popup {
  position: relative;
  background: #FFF;
  max-width: 590px;
  margin: 20px auto;
  border: 2px solid #E9EFE8;
  overflow-x: hidden;

  &_max-width-950 {
    max-width: 950px;
  }
}

.popup{

  &__wrap {
    padding: 30px;
    display:flex;
    flex-direction: column;

    & select {
      appearance: none;
      background-color: transparent;
      z-index: 15;
    }

    & .select-wrapper {
      position: relative;
      width: 100%;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -4.5px;
        right: 15px;
        width: 18px;
        height: 9px;
        background: url("../svg/arrow-down.svg") no-repeat;
        background-size: contain;
      }
    }
  }

  &__wrap-text {
    padding: 115px 130px 100px 115px;
  }

  &__title {
    font-size: 36px;
    line-height: 111.5%;
    text-align: center;
  }

  &__text {
    display: inline-block;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: 40px;
  }

  &__form {
    display:flex;
    flex-direction: column;

    &_mt {
      margin-top: 50px;
    }
  }

  &__form-area {
    display:flex;
  }

  &__item-wrap {
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 0;

    &_mt-30 {
      margin-top: 30px;
    }

    &_mt-15 {
      margin-top: 15px;
    }

    & span {
      font-size: 18px;

      @media (max-width: 576px) {
        font-size: 16px;
      }
    }
  }

  &__field {
    width: 95%;
    border: 2px solid #E9EFE8;
    border-bottom: 0;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 18px;
    line-height: 17px;
    color: #434343;
    resize: none;

    @media (max-width: 576px) {
      font-size: 16px;
    }

    &::placeholder {
      color: #c2c2c2;
      font-weight: normal;
    }

    &_bb {
      border-bottom: 2px solid #E9EFE8;
    }
  }

  &__textarea {
    height: 100px;

    &_mt {
      margin-top: -2px;
    }
  }

  &__checkbox {
    width: 0;
    height: 0;
  }

  &__checkbox:checked + &__checkbox-fake {
    background: url("../svg/check.svg") 50%/cover no-repeat;
  }

  &__checkbox-fake {
    cursor: pointer;
    position: absolute;
    top: 4px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../svg/nocheck.svg") 50%/cover no-repeat;
  }

  &__checkbox-text {
    cursor: pointer;
    width: 90%;
    font-weight: normal;
  }
}

.required-field {
  position: relative;
  font-size: 18px;

  @media (max-width: 576px) {
    font-size: 16px;
  }

  &::before {
    content: '*';
    color: red;
    position: absolute;
    top: 0;
    right: -10px;
  }

  &_left {
    margin-left: 30px;
    font-weight: normal;

    &::before {
      content: '*';
      color: red;
      position: absolute;
      top: 0;
      left: -30px;
    }
  }

  & option {
    padding: 10px;
  }
}

.button-close {
  cursor: pointer;
  position: absolute;
  margin-top: 45px;
  right: 45px;
  width: 16px;
  height: 16px;
  background: url('../svg/close.svg') 50%/contain no-repeat;
  opacity: 1;
}


@media (max-width: 768px) {
  .mfp-container {
    position: relative;
  }

  .mfp-content {
    position: absolute;
    top: 0;
    left: 0;
  }

  .white-popup {
    overflow-y: auto;
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    top: 0;
    left: 50%;
    margin-left: -50vw;
    width: 100vw;
    height: 100vh;
  }

  .popup {

    &__wrap-text {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }
  }


  .popup {

    &__wrap {
      padding: 30px;
    }

    &__field {
      width: 100%;
      border-bottom: 2px solid #E9EFE8;
      margin-bottom: 10px;
      margin-top: 5px;
    }

    &__form {
      margin-top: 10px;
    }
  }

  .button-close {
    margin-top: 10px;
    right: 10px;
  }
}

@media (max-width: 576px) {
  .popup {

    &__wrap {
      padding: 30px 10px 10px 10px;
    }
  }
}


.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}