* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.1;
  font-weight: normal;
  letter-spacing: 0.05em;
  color: #434343;
}

main {
  height: 10000px;
}
