* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.1;
  font-weight: normal;
  letter-spacing: 0.05em;
  color: #434343;
}

main {
  flex: 1 1 auto;
}

video {
  outline: none;
}

input, textarea, select {

  &:focus {
    position: relative;
    outline: 2px solid $first-color;
    z-index: 1;
  }
}
