.title {
  font-family: 'Akrobat', sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: 992px) {
    font-size: 36px;
  }

  &_red {
    color: $fourth-color;
  }

  &_green {
    color: $first-color;
  }

  &_center {
    text-align: center;
  }

  &__hr {
    width: 100%;
    height: 2px;

    background: $third-color;
    border: none;
  }
}
