$first-color: #679100;        // зеленый
$second-color: #a4ba04;       // темно-салатовый
$third-color: #e9efe8;        // салатовый
$fourth-color: #f55e21;       // рыжий

$font-color: #434343;         // черный



// ------------------------------------
// Главный слайдер - 1,57
