footer.footer
  .content.footer__content
    .footer__info
      a.logo.footer__logo(href="index.html")
      nav.footer__navigation
        ul.footer__list

          -
            list = [
              {url: 'about-us.html', text: 'О клинике'},
              {url: 'price.html', text: 'Услуги и цены'},
              {url: 'programme.html', text: 'Программы'},
              {url: 'our-specialist.html', text: 'Врачи'},
              {url: 'stock.html', text: 'Акции'},
              {url: 'articles-health.html', text: 'Статьи'},
              {url: 'feedback.html', text: 'Отзывы'},
              {url: 'contact.html', text: 'Контакты'}
            ]

          each item in list
            li.footer__item
              a.footer__link(href=item.url)
                h3=item.text

      p.footer__text Сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями ч. 2 ст. 437 Гражданского кодекса РФ. Чтобы получить подробную информации о стоимости услуг, обращайтесь, пожалуйста, к администраторам клиники.

    .footer__media
      .contacts
        h4.contacts__title Контакты
        a.contacts__link.contacts__address(href="contact.html") Россия, Москва, Открытое шоссе, д. 48, стр. 2
        a.contacts__link.contacts__email(href="mailto:geromedicina@mail.ru") geromedicina@mail.ru
        a.contacts__link.contacts__number(href="tel:88002000000") 8 800 200 00 00
        a.contacts__link.contacts__number(href="tel:88002000000") 8 800 200 00 00

      .social-links.footer__social-links
        a.social-links__item.social-links__item_youtube(href="#")
        a.social-links__item.social-links__item_vk(href="#")
        a.social-links__item.social-links__item_fb(href="#")
        a.social-links__item.social-links__item_ok(href="#")

include ../components/button-call

include ../components/modals/call-feedback
include ../components/modals/doctor-call
include ../components/modals/appointment
include ../components/modals/feedback
include ../components/modals/thanks-feedback
include ../components/modals/thanks-appointment