header.header
  .navbar-first
    .content.navbar-first__content
      a.logo.navbar-first__logo(href="index.html")
      a.link.link_search.navbar-first__search(href="search.html") Поиск
      .navbar-first__wrap
        a.link.link_number(href="tel:88002000000") +7 (800) 200 00 00
        a.link.link_number(href="tel:88002000000") +7 (800) 200 00 00
        a.link.link_address.navbar-first__address(href="$map") Москва, Открытое шоссе, дом 12, стр.2, эт.1
  .navbar-second
    .content.navbar-second__content
      a.link.link_address.navbar-second__address(href="$map") Москва, Открытое шоссе, дом 12, стр.2, эт.1
      a.logo.navbar-second__logo(href="index.html")
      .navbar-second__navigation
        include ../components/navigation






