extends layout/layout
include mixins/article-horizontal-card

block head
  - var title = 'Статьи о здоровье';
  - var pageId = 6;

block header
  include layout/header

block content
  main
    .content
      .breadcrumbs(itemscope="" itemtype="http://schema.org/BreadcrumbList")
        span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
          a(itemprop="item" href="/") главная
            meta(itemprop="name" content="Главная")
            meta(itemprop="position" content="1")
        span /
        span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
          a(itemprop="item" href="articles-health.html") статьи о здоровье
            meta(itemprop="name" content="Статьи о здоровье")
            meta(itemprop="position" content="2")


      include components/slider


      .recommendations
        h1.title статьи о здоровье
        hr.title__hr.recommendations__hr

        .recommendations__filter-panel
          include components/filter-panel

        -
          articles = [
            {title: '«Можно быть пожилым в 50 лет и молодым — в 90»: главный ге«Можно быть пожилым в 50 лет и молодым — в 90»: главный ге«Можно быть пожилым в 50 лет и молодым — в 90»: главный ге«Можно быть пожилым в 50 лет и молодым — в 90»: главный ге«Можно быть пожилым в 50 лет и молодым — в 90»: главный ге«Можно быть пожилым в 50 лет и молодым — в 90»: главный ге«Можно быть пожилым в 50 лет и молодым — в 90»: главный ге«Можно быть пожилым в 50 лет и молодым — в 90»: главный ге«Можно быть пожилым в 50 лет и молодым — в 90»: главный ге«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности\'', img: 'images/article/article-img-1.jpg'},
            {title: '«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности\'', img: 'images/article/article-img-2.jpg'},
            {title: '«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности\'', img: 'images/article/article-img-2.jpg'},
            {title: '«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности\'', img: 'images/article/article-img-2.jpg'}
          ]

        each article in articles
          +article-horizontal-card({
            title: article.title,
            img: article.img,
            url: 'article.html'
          })


      include components/pagination


block footer
  include layout/footer