extends layout/layout

block head
  - var title = 'Контакты';
  - var pageId = 8;

block header
  include layout/header

block content
  main
    .content
      .breadcrumbs(itemscope="" itemtype="http://schema.org/BreadcrumbList")
        span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
          a(itemprop="item" href="/") главная
            meta(itemprop="name" content="Главная")
            meta(itemprop="position" content="1")
        span /
        span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
          a(itemprop="item" href="contact.html") контакты
            meta(itemprop="name" content="Контакты")
            meta(itemprop="position" content="2")


      include components/slider


      .contacts-page
        h1.title Контакты
        hr.title__hr

        include components/map

        .contacts-page__text
          p Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок
          p Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок
          p Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок



block footer
  include layout/footer

