extends layout/layout

block head
  - var title = 'Отзывы';
  - var pageId = 7;

block header
  include layout/header

block content
  main
    .content
      .breadcrumbs(itemscope="" itemtype="http://schema.org/BreadcrumbList")
        span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
          a(itemprop="item" href="/") главная
            meta(itemprop="name" content="Главная")
            meta(itemprop="position" content="1")
        span /
        span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
          a(itemprop="item" href="feedback.html") отзывы
            meta(itemprop="name" content="отзывы")
            meta(itemprop="position" content="2")


      .feedback
        h1.title отзывы
        hr.title__hr.feedback__hr

        .feedback__filter-panel
          include components/filter-panel

        -
          feedbacks = [
            {name: 'Виктор', text: 'Спасибо Клинике! Вечером понадобилась консультация уролога. Врач задержался на работе, чтобы дождаться пациента, не торопясь все объяснил и провел диагностику. Помог принять правильное решение о госпитализации. Утром чувствовал себя намного лучше. Спасибо!'},
            {name: 'Петр', text: 'Всем доброго дня! Хочу поделиться нашей историей. У нашей бабушки (78 лет) сахарный диабет и куча сопутствующих болячек. Больницы она на дух не переносит, так как там ничего толком не объясняют, но за все ругают. То много кушаете, то пропускаете прием лекарств и все назидательным тоном. Решила по просьбе бабушки поискать врачей на дом. Наткнулась на этот сайт и решила попробовать вызвать врача на дом. Врач приехал вовремя, в назначенный день. Все подробно рассказал, пояснил, что выезд на дом осуществляют разные специалисты, в зависимости от диагноза пациента. К нам приехал терапевт, но пообещал привлечь к лечению, при необходимости, специалиста-эндокринолога. Рассказал все про «хлебные единицы», про то, как их считать правильно и как питаться. Общением с врачом бабушка осталась довольна, и мы дали «добро» на составление программы лечения. Через пару дней приехала очень вежливая и внимательная медсестра, взяла все необходимые анализы и на следующий день вернулась уже с готовой и правильно составленной диетой, где все уже грамотно посчитано. Медсестра бабушке очень понравилась! Она много слышала от подружек про всяких сиделок без специального образования, а тут именно специалист, которая знает, что делает, сама следит за приемом лекарств! Уже через неделю после начала программы лечения бабушка стала чувствовать себя намного лучше! Врачи и медсестры всегда на связи. Любую проблему решают оперативно и быстро! Короче, все понравилось и мы остались довольны! Большое спасибо врачам и медсестрам вашего центра!'},
            {name: 'Маша', text: 'Спасибо Клинике! Вечером понадобилась консультация уролога. Врач задержался на работе, чтобы дождаться пациента, не торопясь все объяснил и провел диагностику. Помог принять правильное решение о госпитализации. Утром чувствовал себя намного лучше. Спасибо!'},
            {name: 'Иннокентий', text: 'Спасибо Клинике! Вечером понадобилась консультация уролога. Врач задержался на работе, чтобы дождаться пациента, не торопясь все объяснил и провел диагностику. Помог принять правильное решение о госпитализации. Утром чувствовал себя намного лучше. Спасибо!'}
          ]

        each feedback in feedbacks
          .feedback__item
            h5.feedback__name=feedback.name
            time.feedback__date(datetime="2011-11") 8 августа 2019
            .feedback__text
              p=feedback.text


      include components/pagination


block footer
  include layout/footer