extends layout/layout
include mixins/amenities-card
include mixins/article-card

block head
  - var title = 'Главная';

block header
  include layout/header

block content
  main
    include components/slider


    .content
      section.amenities-cards
        h2.title.amenities-cards__title Наша клиника предоставляет ряд услуг
        .amenities-cards__wrap
          -
            amenitiesCard = [
              {url: 'name-service-cardiology.html', img: 'images/doctors/doctors2.jpg', title: 'Кардиология'},
              {url: 'name-service-cardiology.html', img: 'images/doctors/doctors2.jpg', title: 'Андрология'},
              {url: 'name-service-cardiology.html', img: 'images/doctors/doctors2.jpg', title: 'Гастроэнтерология'},
              {url: 'name-service-cardiology.html', img: 'images/doctors/doctors2.jpg', title: 'Гинекология'},
              {url: 'name-service-cardiology.html', img: 'images/doctors/doctors2.jpg', title: 'Неврология'},
              {url: 'name-service-cardiology.html', img: 'images/doctors/doctors2.jpg', title: 'Офтальмология'},
              {url: 'name-service-cardiology.html', img: 'images/doctors/doctors2.jpg', title: 'Ревматология'},
              {url: 'name-service-cardiology.html', img: 'images/doctors/doctors2.jpg', title: 'Терапия'}
            ]

          each card in amenitiesCard
           +amenities-card(card)

        .amenities-cards__hr
          a.button.button_second.amenities-cards__btn(href="price.html") смотреть все


      include components/advantages


      include components/specialists


      .about-us
        .video.about-us__video
          button.video__play
          video(poster='images/other/pixel.png')
            source(data-src='videos/video.mp4' src='videos/video.mp4' type="video/mp4")
        article.about-us__description
          a.button.button_second.about-us__btn(href="about-us.html") Подробнее
          h1.title.about-us__title Медицинский Центр "Геромедицина"
          .about-us__text.about-us__text_description
            p Пожилой возраст – это особое время, когда человеческий организм функционирует по-другому, а человек обязательно столкнется с определёнными проблемами, связанными со своим здоровьем. Пожилые люди и их близкое окружение часто отождествляют эти проблемы с чем то там
        .about-us__info
          p.about-us__text ООО «Клиника для детей и взрослых на Открытом шоссе» ПРОЕКТ: «ГЕРОМЕДИЦИНА» – клиника медицинского патронажа и гериатрии.
          p.about-us__text Россия, Москва, Открытое шоссе, д. 48, стр. 2
          a.button.button_second.about-us__btn-map(href="$map") Посмотреть карту проезда


      include components/comments


      section.articles
        h2.title.articles__title Статьи
        .articles__content

          -
            articles = [
              {
                img: 'images/article/article-img-2.jpg',
                date: '10 октября 2019',
                title: 'Вакцина от гриппа российского производства появится на рынке в августе. Вакцина от гриппа российского производства появится на рынке в августе Вакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августе',
                url: 'article.html'
              },
              {
                img: 'images/article/article-img-2.jpg',
                date: 'вчера',
                title: '«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности,«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности',
                url: 'article.html'
              },
              {
                img: 'images/article/article-img-2.jpg',
                date: 'вчера',
                title: '«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности,«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности',
                url: 'article.html',
                green: true
              },
              {
                img: 'images/article/article-img-2.jpg',
                date: 'вчера',
                title: '«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности,«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности',
                url: 'article.html',
                green: true
              }
            ]

          each article in articles
            +article-card(article)
          include components/ask-form

        .articles__footer
          a.button.button_second.articles__btn(href="articles-health.html") Смотреть все


      include components/map


block footer
  include layout/footer

