extends layout/layout
include mixins/article
include mixins/list

block head
  - var title = 'Вакцина от гриппа российского производства появится на рынке в августе';
  - var pageId = 6;

block header
  include layout/header

block content
  main
    .content
      .breadcrumbs(itemscope="" itemtype="http://schema.org/BreadcrumbList")
        span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
          a(itemprop="item" href="/") главная
            meta(itemprop="name" content="Главная")
            meta(itemprop="position" content="1")
        span /
        span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
          a(itemprop="item" href="stock.html") акции
            meta(itemprop="name" content="Акции")
            meta(itemprop="position" content="2")
        span /


      +article({
        mb: true,
        title: '«Долгожитель москвы» — социальный проект клиники «Геромедицина»',
        img: 'images/article/long-liver.jpg',
        text1: '<strong>«Долгожитель Москвы»</strong> — это социальный проект, нацеленные на оказание профессиональной медицинской помощи на дому москвичам в возрасте 90 лет и старше.',
        text2: 'Проект стартует <strong>24 июля 2020 года</strong>. В рамках него Вы или Ваш близкий может обратиться в клинику «Геромедицина» и бесплатно вызвать врача на дом. Доктор проведет подробный клинический осмотр, возьмет анализы и разработает индивидуальный план лечения для пациента. \n',
        text3: '<strong>Клинический осмотр</strong> разработан гериатрической службой «Геромедицины». Это не просто рутинный осмотр врача, а полноценное комплексное обследование с оценкой памяти, физической силы, риска падений и других связанных с возрастом проблем. После заполнения медицинской документации врач проведет бесплатный забор крови на исследования целого спектра показателей от самых простых до уникальных в сертифицированной лаборатории.\n',
      })

      -
        list = [
          {
            title: 'Лабораторное исследование включает:',
            arr: [
              'общеклинический анализ крови;',
              'биохимические параметры: билирубин, АСТ, АЛТ, ГГТ, триглицириды, общий белок, альбумин, глобулины, глюкоза, гликированный гемоглобин, инсулин, холестерин общи, ХС-липопротеидов высокой и низкой плотности, креатинин, мочевина, цистатин, тестестерон, эстрогены, дигидолэпиандростерон сульфат, витамин D3(25-ОН), гомоцистеин, фибриноген, ферритин, ПСА, натрийуретический пептид (NT-pro BNP);',
              'адипокины: адипонектин, лептин, инсулиноподобный фактор роста – 1 (ИПФР-1);',
              'гормоны щитовидной железы: ТТГ, свободный Т3(4);',
              'исследование мочи: альбумин, альбумин /креатининовое соотношение, органические кислоты;',
              'определение длины теломер хромосом.',
            ]
          },
          {
            title: 'Программой «Долгожитель москвы» предусмотрено:',
            arr: [
              'согласованный с Вами по дате и времени визит врача;',
              'опрос-анкетирование;',
              'лабораторное обследование;',
              'выдача результатов исследования на руки.',
            ]
          }
        ]

      +list({
        list: list
      })


      strong Вы также можете задать доктору все интересующие Вас вопросы.


      p.text.text_bold.text_m-long-liver.text_green Визит врача (с опросом-анкетированием) и результаты лабораторных исследований, которыми Вы сможете воспользоваться по своему усмотрению, проводится совершенно БЕСПЛАТНО!


      .frame.frame_mb
        .frame__content.frame__content_center
          p.frame__strong.frame__strong_ttu Количество участников ограничено, звоните в ближайшее время.
          p.frame__strong Обратиться по всем вопросам, а также записаться в Программу наблюдения можно по телефонам:
          .frame__numbers
            a.frame__num(href='tel:+74959887790') +7(495)988-77-90
            a.frame__num(href='tel:+74422168131') +7(425)216-81-31
          p.frame__strong ежедневно по будням с 9:00 до 21:00.
          .frame__btn-wrap
            a.button.button_red(href='tel:+74959887790') Позвонить
            button.button.button_first(data-btn="modal-call-feedback-btn") Заказать<br>обратный звонок
          .title.title_center Желаем Вам крепкого здоровья и долгих, счастливых лет жизни.


block footer
  include layout/footer

