extends layout/layout
include mixins/article
include mixins/price

block head
  - var title = 'Патронаж';
  - var pageId = 2;

block header
  include layout/header

block content
  main
    .content
      .breadcrumbs(itemscope="" itemtype="http://schema.org/BreadcrumbList")
        span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
          a(itemprop="item" href="/") главная
            meta(itemprop="name" content="Главная")
            meta(itemprop="position" content="1")
        span /
        span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
          a(itemprop="item" href="price.html") услуги и цены
            meta(itemprop="name" content="Услуги и цены")
            meta(itemprop="position" content="2")
        span /
        span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
          a(itemprop="item" href="name-service-patronage.html") патронаж
            meta(itemprop="name" content="Патронаж")
            meta(itemprop="position" content="3")


      include components/slider


      +article({
        mb: true,
        title: 'Патронаж',
        banner: true,
        img: 'images/article/name-service.jpg',
        text1: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet congue quam. Cras venenatis augue nunc, sed molestie orci faucibus sed. Maecenas cursus odio augue, in posuere augue iaculis eu. Aliquam vel suscipit nunc, in lobortis leo. Fusce ac lacinia elit, eu euismod ligula. Suspendisse ornare venenatis condimentum. Nullam sagittis et lacus ac posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus vel dolor ac libero ultricies pellentesque.',
        text2: 'Donec laoreet suscipit risus in bibendum. Sed at sodales sem. Nullam molestie, arcu sit amet tincidunt mattis, sem felis congue metus, sed aliquam dui nulla nec diam. In lobortis nunc velit, sit amet luctus tellus mollis in. Suspendisse feugiat mi id dolor mattis viverra. Nunc diam diam, egestas ut arcu quis, convallis aliquam odio. Pellentesque sodales euismod tortor, sit amet sollicitudin lorem. Nulla mattis magna eget ante aliquam, at gravida lectus venenatis. Proin mauris ipsum, porta at est quis, porta scelerisque mi. In at pretium lectus.',
        text3: 'Curabitur volutpat, risus eu rutrum condimentum, nibh diam mollis ex, in consequat sapien lectus in lorem. Pellentesque dignissim tempor erat vitae laoreet. Mauris quis porttitor nulla. Nam tincidunt placerat massa quis maximus. Cras at eros a urna tincidunt vulputate et eget felis. Cras risus tortor, facilisis a tristique at, tempus et felis. Duis consequat justo eget elit suscipit viverra.'
      })


      include components/advantages


      button.button.button_first.button_300(data-btn="modal-doctor-call-btn") Вызов врача

      -
        info = {
          title: 'Услуги',
          list: [
            {service: 'Прием (осмотр, консультация) врача-кардиолога первичный', price: '1 500₽'},
            {service: 'Прием, консультация врача к.м.н.м, консультация врача к.м.н.м, консультация врача к.м.н.м, консультация врача к.м.н.м, консультация врача к.м.н.м, консультация врача к.м.н.м, консультация врача к.м.н.м, консультация врача к.м.н.м, консультация врача к.м.н.м, консультация врача к.м.н.м, консультация врача к.м.н.м, консультация врача к.м.н.', price: '1 500₽'},
            {service: 'Прием, консультация врача к.м.н.', price: '1 500₽'},
            {service: 'Прием, консультация врача к.м.н.', price: '10 500₽'},
            {service: 'Прием, консультация врача к.м.н.', price: '1 500₽'}
          ]
        }

      +price(info)


      include components/comments


block footer
  include layout/footer

