extends layout/layout
include mixins/banner-stock

block head
  - var title = 'Услуги и цены';
  - var pageId = 2;

block header
  include layout/header

block content
  main
    .content
      .breadcrumbs(itemscope="" itemtype="http://schema.org/BreadcrumbList")
        span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
          a(itemprop="item" href="/") главная
            meta(itemprop="name" content="Главная")
            meta(itemprop="position" content="1")
        span /
        span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
          a(itemprop="item" href="price.html") услуги и цены
            meta(itemprop="name" content="Услуги и цены")
            meta(itemprop="position" content="2")


      +banner-stock()


      .amenities
        h1.title Услуги и цены
        hr.title__hr.amenities__hr

        .amenities__description
          h2 Приём в клинике и вызов врача на дом
          p
            b Для вызова врача на дом нажмите на кнопку в правом нижнем углу - "Вызов врача".
          p Стоимость медицинского патронажа рассчитывается индивидуально в зависимости от потребностей пациента — звоните!
          p +7 (495) 988-77-90
          p +7 (925) 216-81-31
          p 9.00 - 21.00 по будням (Пн-Пт)
          p 10.00 - 20.00 в выходные дни (Сб, Вс.)
          p В праздничные и предпраздничные дни - сокращенный рабочий день.

        .amenities__spoilers

          -
            amenities = [
              {
                sectionName: 'Вызов на дом',
                list: [
                  {name: 'Прием (осмотр, консультация) врача-кардиолога первичный', term: '1 день', price: '1 500₽'},
                  {name: 'Комплексная гериатрическая оценка', term: '2 дня', price: '1 500₽'},
                  {name: 'Прием (осмотр, консультация) врача-кардиолога первичный', className: 'spoiler__amenities_stock', term: '10 дней', price: '22 500₽'}
                ]
              },
              {
                sectionName: 'Диагностика',
                list: [
                  {name: 'Прием (осмотр, консультация) врача-кардиолога первичный', price: '1 500₽'},
                  {name: 'Комплексная гериатрическая оценка', className: 'spoiler__amenities_stock', price: '1 500₽'},
                  {name: 'Прием (осмотр, консультация) врача-кардиолога первичный', className: 'spoiler__amenities_home', price: '22 500₽'}
                ]
              },
              {
                sectionName: 'Кардиология',
                list: [
                  {name: 'Прием (осмотр, консультация) врача-кардиолога первичный', price: '1 500₽'},
                  {name: 'Комплексная гериатрическая оценка', price: '1 500₽'},
                  {name: 'Прием (осмотр, консультация) врача-кардиолога первичный', price: '22 500₽'}
                ]
              }
            ]

          each spoiler in amenities
            .spoiler
              .spoiler__header
                h5.spoiler__section-name=spoiler.sectionName
                .spoiler__indicator
              .spoiler__body
                a.spoiler__row.spoiler__row_more(href='name-service-cardiology.html')
                  .spoiler__more Подробнее о направлении
                each item in spoiler.list
                  a.spoiler__row(href="service-cardiology.html")
                    .spoiler__amenities(class=item.className ? item.className : '')=item.name
                    if (item.term)
                      .spoiler__term=item.term
                    .spoiler__price(class=item.term ? '' : 'spoiler__price_ml-auto')=item.price


          .amenities__link
            a(href='#' download) Скачать полный прайс


    include components/stock-cards


block footer
  include layout/footer
