extends layout/layout

block head
  - var title = 'Поиск';

block header
  include layout/header

block content
  main
    .content
      .breadcrumbs(itemscope="" itemtype="http://schema.org/BreadcrumbList")
        span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
          a(itemprop="item" href="/") главная
            meta(itemprop="name" content="Главная")
            meta(itemprop="position" content="1")
        span /
        span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
          a(itemprop="item" href="search.html") поиск
            meta(itemprop="name" content="Поиск")
            meta(itemprop="position" content="2")

      .search-page
        h1.title Поиск
        hr.title__hr.search-page__hr

        .search-page__filter-panel
          include components/filter-panel

        .search-page__result
          p.search__result-text по запросу «Кардиолог» найдено 25 результатов

          .search-page__result-wrap

            .result__wrap(data-index="direction-1" data-amenities-item="cardiology" data-card)
              .result__names
                a(href="#")
                  h5.result__name Кардиология
              .result__text
                p <span class="result__words">Кардиолог</span> клиники сотрудничает с кардиохирургическими отделениями Москвы и некоторыми европейскими клиниками и направляет нуждающихся клиентов на хирургическое лечение ишемической болезни сердца ...
              a.tags.tags_mt(href="search-result.html") #направления

            .result__wrap(data-index="direction-2" data-amenities-item="cardiology" data-card)
              .result__names
                a(href="#")
                  h5.result__name Мустафьев Омар Равиольевич
              .result__text
                p <span class="result__words">Кардиолог</span>
              a.tags.tags_mt(href="search-result.html") #врачи
            .result__wrap(data-index="direction-1" data-amenities-item="amenities-4" data-card)
              .result__names
                a(href="#")
                  h5.result__name В России произойдет массовое лечение сердца в разных регионах
              .result__text
                p ... например, гастроэнтеролог, <span class="result__words">кардиолог</span> или дерматовенеролог). Для каждого больного разрабатывается комплексный курс лечения, включающий в себя как психотерапию, так ...
              a.tags.tags_mt(href="search-result.html") #статьи
            .result__wrap(data-index="direction-3" data-amenities-item="amenities-4" data-card)
              .result__names
                a(href="#")
                  h5.result__name В России произойдет массовое лечение сердца в разных регионах
              .result__text
                p ... например, гастроэнтеролог, <span class="result__words">кардиолог</span> или дерматовенеролог). Для каждого больного разрабатывается комплексный курс лечения, включающий в себя как психотерапию, так ...
              a.tags.tags_mt(href="search-result.html") #статьи
            .result__wrap(data-index="direction-3" data-amenities-item="amenities-4" data-card)
              .result__names
                a(href="#")
                  h5.result__name Мустафьев Омар Равиольевич
              .result__text
                p <span class="result__words">Кардиолог</span>
              a.tags.tags_mt(href="search-result.html") #врачи


      include components/pagination


block footer
  include layout/footer

