extends layout/layout

block head
  - var title = 'Поиск';

block header
  include layout/header

block content
  main
    .content
      .breadcrumbs(itemscope="" itemtype="http://schema.org/BreadcrumbList")
        span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
          a(itemprop="item" href="/") главная
            meta(itemprop="name" content="Главная")
            meta(itemprop="position" content="1")
        span /
        span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
          a(itemprop="item" href="search.html") поиск
            meta(itemprop="name" content="Поиск")
            meta(itemprop="position" content="2")


      include components/slider


      .search-page
        h1.title Поиск
        hr.title__hr.search-page__hr

        .filter-panel.search-page__filter-panel
          .filter-panel__search.filter-panel__search_first
            input.filter-panel__input-search(type="text" placeholder="поиск")
            button.filter-panel__btn-search
          .filter-panel__select
            select
              option(selected) По всем разделам
              option(value="direction-1") направление 1
              option(value="direction-2") направление 2

        .search-page__results
          p.search-page__result-text по запросу «Кардиолог» найдено 25 результатов

          .search-page__results-wrap
            -
              results = [
                {title: 'Кардиология', searchWord: 'Кардиолог', textBefore: '', textAfter: 'клиники сотрудничает с кардиохирургическими отделениями Москвы и некоторыми европейскими клиниками и направляет нуждающихся клиентов на хирургическое лечение ишемической болезни сердца ...', tag: '#направления'},
                {title: 'В России произойдет массовое лечение сердца в разных регионах', searchWord: 'кардиолог', textBefore: '... например, гастроэнтеролог, ', textAfter: 'или дерматовенеролог. Для каждого больного разрабатывается комплексный курс лечения, включающий в себя как психотерапию, так ...', tag: '#статьи'},
                {title: 'В России произойдет массовое лечение сердца в разных регионах', searchWord: 'кардиолог', textBefore: '... например, гастроэнтеролог, ', textAfter: 'или дерматовенеролог. Для каждого больного разрабатывается комплексный курс лечения, включающий в себя как психотерапию, так ...', tag: '#статьи'},
                {title: 'Мустафьев Омар Равиольевич', searchWord: 'Кардиолог', textBefore: '', textAfter: '', tag: '#врачи'}
              ];

            each result in results
              .result
                .result__names
                  a.result__link(href="#")
                    h5.result__name=result.title
                .result__text
                  p
                    =result.textBefore
                    span.result__words=result.searchWord
                    =result.textAfter
                a.result__tag(href="search-result.html")=result.tag


      include components/pagination


block footer
  include layout/footer

