* {
  box-sizing: border-box; }

body {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.1;
  font-weight: normal;
  letter-spacing: 0.05em;
  color: #434343; }

main {
  height: 10000px; }

video {
  outline: none; }

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  src: local("Inter"), url("../fonts/Inter-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: local("Inter"), url("../fonts/Inter-Medium.woff") format("woff"); }

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: local("Inter"), url("../fonts/Inter-SemiBold.woff") format("woff"); }

@font-face {
  font-family: 'Akrobat';
  font-weight: 700;
  font-style: normal;
  src: local("Akrobat Bold"), url("../fonts/Akrobatbold.woff") format("woff"); }

@font-face {
  font-family: 'Akrobat';
  font-weight: 500;
  font-style: normal;
  src: local("Akrobat Bold"), url("../fonts/Akrobat_Semi_Bold.woff") format("woff"); }

.content {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 1500px) {
    .content {
      padding-left: 0;
      padding-right: 0; } }

.link {
  text-decoration: none;
  color: #434343; }
  .link_number {
    font-size: 20px;
    color: #f55e21;
    line-height: 1.2;
    margin-bottom: 3px; }
    @media (min-width: 992px) {
      .link_number {
        margin-bottom: 0;
        font-size: 28px; }
        .link_number:hover {
          color: #a4ba04; } }
  .link_search {
    display: none; }
    @media (min-width: 992px) {
      .link_search {
        position: relative;
        display: initial;
        padding-left: 32px;
        text-transform: lowercase; }
        .link_search::before {
          position: absolute;
          content: '';
          left: 0;
          width: 25px;
          height: 25px;
          background: url("../svg/icons/search.svg") center/contain no-repeat; } }
  .link_address {
    font-size: 13px;
    text-align: center; }
    @media (min-width: 992px) {
      .link_address {
        position: relative;
        padding-left: 35px;
        font-size: 18px;
        text-align: left; }
        .link_address::before {
          position: absolute;
          content: '';
          top: 0;
          bottom: 0;
          left: 0;
          margin: auto 0;
          width: 25px;
          height: 25px;
          background: url("../svg/icons/point.svg") center/contain no-repeat; } }

.title {
  font-family: 'Akrobat', sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase; }
  @media (min-width: 992px) {
    .title {
      font-size: 36px; } }

button {
  cursor: pointer;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent; }
  button:focus {
    border: none;
    outline: none; }

.button {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color .1s ease-in; }
  .button_first {
    background-color: #679100;
    color: #fff; }
    .button_first:hover {
      background-color: #e9efe8;
      color: #f55e21;
      transition: background-color .1s ease-in; }
  .button_second {
    color: #f55e21;
    border: 2px solid #e9efe8; }
    .button_second:hover {
      background-color: #679100;
      color: #fff;
      transition: background-color .1s ease-in; }

input:focus {
  border: none;
  outline: 2px solid #679100; }

.video {
  cursor: pointer;
  position: relative; }
  .video__play {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    width: 92px;
    height: 92px;
    background: url("../svg/icons/play-button.svg") center/contain no-repeat; }
  .video.play .video__play {
    display: none; }

.header {
  font-weight: 600;
  background-color: #fff; }

.logo {
  display: inline-block;
  width: 150px;
  height: 27px;
  background: url("../svg/logo/logo-mobil.svg") center/contain no-repeat; }
  .logo:hover {
    background-image: url("../svg/logo/logo-mobil.svg"); }
  @media (min-width: 345px) {
    .logo {
      width: 168px;
      height: 31px; } }
  @media (min-width: 576px) {
    .logo {
      width: 201px;
      height: 37px; } }
  @media (min-width: 768px) {
    .logo {
      width: 460px;
      height: 103px;
      background-image: url("../svg/logo/logo.svg"); }
      .logo:hover {
        background-image: url("../svg/logo/logo-green.svg"); } }

.burger {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  height: 22px; }
  .burger.open .burger__icon {
    width: 30px;
    height: 0;
    transition: height .2s ease-in, width .2s ease-in; }
    .burger.open .burger__icon::before {
      top: 10px;
      width: 30px;
      transform: rotate(45deg);
      transition: transform .2s .2s ease-in, width .2s ease-in, top .2s ease-in; }
    .burger.open .burger__icon::after {
      bottom: 10px;
      width: 30px;
      transform: rotate(-45deg);
      transition: transform .2s .2s ease-in, width .2s ease-in, bottom .2s ease-in; }
  .burger__text {
    margin-right: 8px;
    text-transform: lowercase;
    font-size: 14px;
    font-weight: 600; }
  .burger__icon {
    width: 40px;
    height: 2px;
    transition: height .2s ease-in, width .2s ease-in;
    background-color: #f55e21; }
    .burger__icon::before, .burger__icon::after {
      position: absolute;
      content: '';
      right: 0;
      width: 40px;
      height: 2px;
      background-color: #f55e21;
      transition: transform .2s .4s ease-in, width .2s .2s ease-in; }
    .burger__icon::before {
      top: 0;
      transition: top .2s ease-in; }
    .burger__icon::after {
      bottom: 0;
      transition: bottom .2s ease-in; }

.navigation {
  height: 100%;
  display: flex;
  align-items: center; }
  @media (min-width: 1200px) {
    .navigation__burger {
      display: none; } }
  .navigation__content {
    display: none;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 100%;
    min-height: calc(var(--vh, 1vh) * 100 - var(--header));
    background-color: #fff; }
    @media (min-width: 1200px) {
      .navigation__content {
        display: block;
        position: initial;
        min-height: auto;
        height: 100%;
        opacity: 1; } }
    .navigation__content.open {
      display: block; }
  .navigation__search {
    margin-bottom: 20px; }
    @media (min-width: 1200px) {
      .navigation__search {
        display: none; } }
  .navigation__wrap-btn {
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 992px) {
      .navigation__wrap-btn {
        display: flex;
        justify-content: space-between; } }
    @media (min-width: 1200px) {
      .navigation__wrap-btn {
        display: none; } }
    .navigation__wrap-btn button {
      margin-bottom: 20px; }
      .navigation__wrap-btn button:last-child {
        margin-bottom: 0; }
      @media (min-width: 992px) {
        .navigation__wrap-btn button {
          margin-right: 20px;
          margin-bottom: 0; }
          .navigation__wrap-btn button:last-child {
            margin-right: 0; } }
  .navigation__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block; }
    @media (min-width: 1200px) {
      .navigation__list {
        display: flex;
        height: 100%;
        margin-right: -8px; } }
    .navigation__list h3 {
      margin: 0;
      font-size: 18px; }
      @media (min-width: 1200px) {
        .navigation__list h3 {
          font-size: 16px; } }
      @media (min-width: 1350px) {
        .navigation__list h3 {
          font-size: 18px; } }
  .navigation__item {
    cursor: pointer;
    position: relative;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-top: 2px solid #e9efe8; }
    .navigation__item:last-child {
      border-bottom: 2px solid #e9efe8; }
      @media (min-width: 1200px) {
        .navigation__item:last-child {
          margin-right: 0;
          border: none; } }
      @media (min-width: 1200px) {
        .navigation__item:last-child .navigation__link h3 {
          padding-right: 0; } }
    @media (min-width: 1200px) {
      .navigation__item {
        height: 100%;
        padding-left: 8px;
        padding-right: 8px;
        align-items: center;
        border: none; }
        .navigation__item:hover {
          background-color: #f55e21; }
          .navigation__item:hover.navigation__item_drop::before {
            width: 5px;
            height: 5px;
            border-top: 2px solid white;
            border-right: 2px solid white;
            transform: rotate(135deg); }
          .navigation__item:hover .navigation__link {
            color: #fff; }
          .navigation__item:hover .navigation__dropdown {
            display: block; }
        .navigation__item:not(.navigation__item_drop) .navigation__link h3 {
          padding-right: 0; } }
    .navigation__item.navigation__item_drop::before {
      position: absolute;
      content: '';
      top: 15px;
      right: 22px;
      transition: transform .2s ease-in;
      width: 10px;
      height: 10px;
      border-top: 2px solid #f55e21;
      border-right: 2px solid #f55e21;
      transform: rotate(135deg); }
      @media (min-width: 1200px) {
        .navigation__item.navigation__item_drop::before {
          top: 0;
          bottom: 0;
          right: 7px;
          margin: auto 0;
          width: 5px;
          height: 5px;
          border-top: 2px solid #434343;
          border-right: 2px solid #434343;
          transform: rotate(135deg); } }
    .navigation__item.navigation__item_drop.open::before {
      transform: rotate(315deg);
      transition: transform .2s ease-in; }
    .navigation__item.navigation__item_drop.open .navigation__link {
      display: block;
      margin-bottom: 20px; }
      @media (min-width: 1200px) {
        .navigation__item.navigation__item_drop.open .navigation__link {
          margin-bottom: 0; } }
    .navigation__item.navigation__item_drop.open .navigation__dropdown {
      display: block; }
  .navigation__link {
    text-decoration: none;
    color: #434343; }
    @media (min-width: 1200px) {
      .navigation__link {
        margin-bottom: 0; } }
    .navigation__link h3 {
      padding-right: 12px; }
  .navigation__dropdown {
    display: none;
    position: relative;
    margin-left: 8px;
    background-color: #fff; }
    @media (min-width: 1200px) {
      .navigation__dropdown {
        position: absolute;
        content: '';
        top: 100%;
        margin-left: 0;
        padding: 8px;
        background-color: #e9efe8; }
        .navigation__dropdown:hover {
          display: block; } }
    .navigation__dropdown h3 {
      display: inline-block;
      width: 100%;
      font-size: 16px;
      color: #434343;
      white-space: nowrap; }
      @media (min-width: 1200px) {
        .navigation__dropdown h3 {
          padding: 8px; }
          .navigation__dropdown h3:hover {
            background-color: #f55e21;
            color: #fff; } }
      @media (min-width: 1350px) {
        .navigation__dropdown h3 {
          font-size: 18px; } }
  .navigation__dropdown-link {
    display: block;
    text-decoration: none;
    margin-bottom: 10px; }
    .navigation__dropdown-link:last-child {
      margin-bottom: 0; }
    @media (min-width: 1200px) {
      .navigation__dropdown-link {
        margin-bottom: 0; } }

.search {
  position: relative;
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #e9efe8; }
  .search__input {
    width: 100%;
    height: 100%;
    padding: 15px 40px 15px 15px;
    border: none;
    outline: none; }
  .search__btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    margin: auto 0;
    width: 20px;
    height: 20px;
    background: url("../svg/icons/search.svg") center/contain no-repeat; }

.button-call {
  display: none; }
  @media (min-width: 1200px) {
    .button-call {
      display: initial;
      position: fixed;
      z-index: 2;
      right: -100px;
      transition: right .2s ease-in;
      width: 180px;
      height: 80px;
      padding: 15px 32px 15px 82px;
      text-align: left;
      font-size: 14px;
      font-weight: 600;
      color: #e9efe8;
      text-transform: lowercase; }
      .button-call:hover {
        right: 0;
        transition: right .2s ease-in; }
        .button-call:hover .button-call__text {
          opacity: 1;
          transition: opacity .2s ease-in; }
      .button-call::before {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        margin: auto 0;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }
      .button-call_feedback {
        bottom: 160px;
        background-color: #434343;
        animation: hello 18s infinite ease-in-out; }
        .button-call_feedback::before {
          width: 38px;
          height: 39px;
          left: 19px;
          background-image: url("../svg/button-call/phone.svg"); }
      .button-call_doctor-call {
        bottom: 80px;
        background-color: #f55e21;
        animation: hello 18s 6s infinite ease-in-out; }
        .button-call_doctor-call::before {
          width: 51px;
          height: 41px;
          left: 16px;
          background-image: url("../svg/button-call/car.svg"); }
      .button-call_appointment {
        bottom: 0;
        background-color: #679100;
        animation: hello 18s 12s infinite ease-in-out; }
        .button-call_appointment::before {
          width: 55px;
          height: 46px;
          left: 13px;
          background-image: url("../svg/button-call/pen.svg"); }
      .button-call__text {
        opacity: 0;
        transition: opacity .2s ease-in; } }

@keyframes hello {
  0% {
    opacity: 1;
    transform: scale(1); }
  2.77% {
    opacity: 0.5;
    transform: scale(1.1); }
  5.55% {
    opacity: 1;
    transform: scale(1); } }

.navbar-first {
  padding: 15px 0;
  background-color: #e9efe8; }
  .navbar-first__content {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (min-width: 768px) {
      .navbar-first__content {
        justify-content: flex-start; } }
  .navbar-first__logo {
    display: none; }
    @media (min-width: 768px) {
      .navbar-first__logo {
        display: initial;
        margin-right: auto; } }
  .navbar-first__search {
    margin-left: 20px; }
  .navbar-first__wrap {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 768px) {
      .navbar-first__wrap {
        align-items: flex-end;
        margin-left: 40px; } }
  @media (min-width: 768px) {
    .navbar-first__address {
      display: none; } }

.navbar-second {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 40px;
  background-color: #fff;
  border-bottom: 2px solid #e9efe8; }
  @media (min-width: 768px) and (max-height: 768px) {
    .navbar-second {
      margin-top: 30px; } }
  .navbar-second_glue {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0; }
  .navbar-second__content {
    display: flex;
    align-items: center;
    height: 100%; }
  .navbar-second__address {
    display: none; }
    @media (min-width: 768px) {
      .navbar-second__address {
        display: initial;
        margin-right: auto;
        font-size: 14px; } }
    @media (min-width: 1350px) {
      .navbar-second__address {
        font-size: 18px; } }
  @media (min-width: 768px) {
    .navbar-second__logo {
      display: none; } }
  .navbar-second__navigation {
    height: 100%;
    margin-left: auto; }

.swiper-main {
  display: none; }
  @media (min-width: 768px) {
    .swiper-main {
      position: relative;
      width: 100%; } }
  @media (min-width: 1200px) {
    .swiper-main {
      display: block;
      margin-bottom: 40px; } }
  @media (min-width: 768px) and (max-height: 768px) {
    .swiper-main {
      display: block;
      margin-bottom: 80px; } }
  @media (min-width: 768px) {
    .swiper-main__slide {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 100%;
      background-color: #e9efe8; } }
  @media (min-width: 1200px) {
    .swiper-main__slide {
      max-width: 1440px;
      height: 460px; } }
  @media (min-width: 768px) and (max-height: 768px) {
    .swiper-main__slide {
      max-width: 1150px;
      height: 420px; } }
  @media (min-width: 1200px) {
    .swiper-main__content {
      position: relative;
      height: 100%;
      padding: 80px 80px 130px 90px;
      display: flex;
      flex-direction: column; } }
  @media (min-width: 1200px) {
    .swiper-main__wrap {
      width: 100%;
      height: 100%;
      overflow-y: hidden; } }
  @media (min-width: 1200px) {
    .swiper-main__title {
      margin-top: 0;
      margin-bottom: 30px;
      font-family: 'Akrobat', Arial, sans-serif;
      font-size: 48px;
      font-weight: 600;
      text-transform: uppercase; } }
  @media (min-width: 1200px) {
    .swiper-main__description {
      margin-top: 0;
      margin-bottom: auto;
      font-size: 18px;
      font-weight: normal; } }
  @media (min-width: 1200px) {
    .swiper-main__btn {
      position: absolute;
      left: 90px;
      bottom: 2px;
      width: 215px;
      height: 65px;
      padding: 20px 50px;
      border: none;
      background-color: #fff;
      font-size: 18px;
      text-transform: uppercase;
      color: #f55e21; }
      .swiper-main__btn:hover {
        border: none;
        background-color: #679100;
        color: white; } }
  @media (min-width: 768px) {
    .swiper-main__img {
      flex: 0 0 auto;
      height: 100%;
      background: url("../images/other/pattern.png") repeat; } }
  @media (min-width: 1200px) {
    .swiper-main__img {
      width: 720px; } }
  @media (min-width: 768px) and (max-height: 768px) {
    .swiper-main__img {
      width: 660px; } }
  @media (min-width: 1200px) {
    .swiper-main__img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; } }
  @media (min-width: 768px) {
    .swiper-main__tools {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 100%; } }
  @media (min-width: 1200px) {
    .swiper-main__tools {
      max-width: 1440px;
      height: 460px; } }
  @media (min-width: 768px) and (max-height: 768px) {
    .swiper-main__tools {
      max-width: 1150px;
      height: 420px; } }
  @media (min-width: 1200px) {
    .swiper-main__prev, .swiper-main__next {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      z-index: 1; }
      .swiper-main__prev:hover, .swiper-main__next:hover {
        opacity: 0.6; }
      .swiper-main__prev::after, .swiper-main__next::after {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        margin: auto 0; } }
  @media (min-width: 1200px) {
    .swiper-main__prev {
      left: 30px; }
      .swiper-main__prev::after {
        left: 0;
        width: 30px;
        height: 30px;
        border-top: 2px solid #434343;
        border-right: 2px solid #434343;
        transform: rotate(-135deg); } }
  @media (min-width: 1200px) {
    .swiper-main__next {
      right: 30px; }
      .swiper-main__next::after {
        right: 0;
        width: 30px;
        height: 30px;
        border-top: 2px solid #434343;
        border-right: 2px solid #434343;
        transform: rotate(45deg); } }
  @media (min-width: 768px) {
    .swiper-main__pagination {
      position: absolute;
      bottom: 60px;
      display: flex;
      padding-left: 10px;
      padding-right: 10px;
      background-color: rgba(255, 255, 255, 0.3); } }
  @media (min-width: 1200px) {
    .swiper-main__pagination {
      right: 110px; } }
  @media (min-width: 768px) and (max-height: 768px) {
    .swiper-main__pagination {
      right: 150px; } }
  @media (min-width: 1200px) {
    .swiper-main .swiper-pagination-bullet {
      width: 56px;
      height: 30px;
      margin: 0 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0;
      background-color: transparent;
      opacity: 1; }
      .swiper-main .swiper-pagination-bullet::before {
        content: '';
        width: 56px;
        height: 2px;
        background-color: #fff; } }
  @media (min-width: 1200px) {
    .swiper-main .swiper-pagination-bullet-active::before {
      background-color: #f55e21; } }

.amenities-cards {
  margin-top: 30px;
  margin-bottom: 50px; }
  @media (min-width: 1200px) {
    .amenities-cards {
      margin-top: 0; } }
  .amenities-cards__title {
    margin-bottom: 40px;
    color: #679100; }
  .amenities-cards__wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px; }
    @media (min-width: 1500px) {
      .amenities-cards__wrap {
        justify-content: initial; } }
  .amenities-cards__hr {
    border-top: 2px solid #E9EFE8; }
  .amenities-cards__btn {
    width: 195px;
    height: 70px;
    margin-top: -2px;
    font-size: 16px; }

.amenities-card {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 290px;
  height: 170px;
  margin: 0 15px 15px;
  padding: 40px 30px;
  background-blend-mode: lighten, multiply, normal;
  overflow: hidden;
  text-decoration: none; }
  @media (min-width: 576px) {
    .amenities-card {
      margin-bottom: 30px; } }
  @media (min-width: 360px) {
    .amenities-card {
      width: 337px;
      height: 198px; } }
  .amenities-card__title {
    font-size: 28px;
    text-transform: uppercase;
    color: white; }

.advantages {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  font-family: 'Akrobat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0; }
  @media (min-width: 992px) {
    .advantages {
      margin-bottom: 70px; } }
  .advantages__block {
    width: 95px;
    background-color: #E9EFE8; }
  .advantages__block-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    flex: 1 1 auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff; }
    @media (min-width: 768px) {
      .advantages__block-content {
        padding-left: 30px;
        padding-right: 30px; } }
  .advantages__title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center; }
    @media (min-width: 992px) {
      .advantages__title {
        font-size: 36px; } }
    @media (min-width: 768px) {
      .advantages__title {
        margin-bottom: 30px;
        font-size: 28px; } }
  .advantages__list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    @media (min-width: 1201px) {
      .advantages__list {
        flex-wrap: nowrap;
        justify-content: space-between; } }
    .advantages__list_column {
      align-items: flex-start; }
  .advantages__item {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
    @media (min-width: 768px) {
      .advantages__item {
        width: initial;
        margin-left: 15px;
        margin-right: 15px;
        justify-content: initial; } }
    .advantages__item_column {
      flex-direction: column;
      align-items: flex-start; }
  .advantages__num {
    margin-right: 10px;
    font-size: 36px;
    color: #F55E21; }
    @media (min-width: 768px) {
      .advantages__num {
        font-size: 48px; } }
    @media (min-width: 992px) {
      .advantages__num {
        font-size: 80px; } }
    .advantages__num span {
      font-size: 20px; }
      @media (min-width: 768px) {
        .advantages__num span {
          font-size: 26px; } }
      @media (min-width: 992px) {
        .advantages__num span {
          font-size: 30px; } }
  .advantages__text {
    margin-bottom: 7px;
    max-width: 200px;
    font-size: 14px; }
    @media (min-width: 768px) {
      .advantages__text {
        font-size: 18px; } }
    @media (min-width: 992px) {
      .advantages__text {
        font-size: 28px; } }

.specialists {
  margin-bottom: 70px;
  overflow: hidden; }
  @media (max-width: 768px) {
    .specialists {
      margin-bottom: 30px; } }
  .specialists__wrapper {
    margin-bottom: 40px; }
  .specialists__navigations {
    display: flex;
    border-top: 2px solid #e9efe8; }
  .specialists__arrow-prev, .specialists__arrow-next {
    width: 60px;
    height: 60px;
    flex: 0 0 auto;
    margin-top: -2px; }
  .specialists__arrow-next {
    margin-left: -2px; }
  .specialists__prev, .specialists__next {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: -2px; }
    .specialists__prev::after, .specialists__next::after {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto; }
  .specialists__prev::after {
    width: 12px;
    height: 12px;
    border-top: 2px solid #f55e21;
    border-right: 2px solid #f55e21;
    transform: rotate(-135deg); }
  .specialists__prev:hover::after {
    width: 12px;
    height: 12px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(-135deg); }
  .specialists__next {
    margin-left: -2px; }
    .specialists__next::after {
      width: 12px;
      height: 12px;
      border-top: 2px solid #f55e21;
      border-right: 2px solid #f55e21;
      transform: rotate(45deg); }
    .specialists__next:hover::after {
      width: 12px;
      height: 12px;
      border-top: 2px solid white;
      border-right: 2px solid white;
      transform: rotate(45deg); }
  .specialists__btn {
    max-width: 240px;
    margin-top: -2px;
    margin-left: -2px;
    font-size: 14px; }
    @media (min-width: 576px) {
      .specialists__btn {
        font-size: 16px; } }

.doctor-card {
  display: block;
  width: 100%;
  border: 2px solid #e9efe8;
  text-decoration: none;
  color: #434343;
  word-break: break-word; }
  .doctor-card__img {
    height: 185px;
    display: flex;
    justify-content: center;
    background: url("../images/other/pattern.png") repeat; }
    .doctor-card__img img {
      width: 211px;
      height: 100%;
      object-fit: cover;
      object-position: center; }
  .doctor-card__description {
    display: flex;
    flex-direction: column;
    height: 185px;
    padding: 30px 15px 15px;
    background-color: #fff; }
    .doctor-card__description:hover {
      background-color: #e9efe8; }
  .doctor-card__name {
    display: inline-block;
    max-height: 110px;
    overflow-y: hidden;
    margin: 0 0 auto;
    font-size: 20px; }
  .doctor-card__specialty {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600; }

.about-us {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid #e9efe8; }
  @media (min-width: 1400px) {
    .about-us {
      flex-direction: initial;
      height: 540px; } }
  .about-us__video {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
    background: url("../images/other/poster.jpg") center/cover no-repeat; }
    @media (min-width: 1400px) {
      .about-us__video {
        max-width: 580px;
        height: 100%; } }
    .about-us__video video {
      width: 100%;
      height: calc(100vw - 30px);
      object-fit: cover;
      object-position: center; }
      @media (min-width: 768px) {
        .about-us__video video {
          width: initial;
          height: 400px; } }
      @media (min-width: 1400px) {
        .about-us__video video {
          width: 100%;
          height: 100%; } }
  .about-us__description {
    padding: 15px;
    border-bottom: 2px solid #e9efe8; }
    @media (min-width: 1400px) {
      .about-us__description {
        width: 480px;
        padding: 30px 45px 80px 60px;
        border-bottom: none;
        flex: 0 0 auto; } }
  .about-us__title {
    margin-top: 0;
    margin-bottom: 25px;
    color: #679100; }
    @media (min-width: 1400px) {
      .about-us__title {
        margin-bottom: 35px; } }
  .about-us__text {
    margin-top: 0;
    margin-bottom: 20px;
    letter-spacing: 0;
    line-height: 1.6; }
    .about-us__text:last-child {
      margin-bottom: 0; }
    .about-us__text p {
      margin: 0; }
    @media (min-width: 1400px) {
      .about-us__text_description {
        max-height: 305px;
        overflow-y: hidden; } }
  .about-us__btn {
    position: absolute;
    top: 100%;
    left: -2px;
    width: 230px; }
    @media (min-width: 1400px) {
      .about-us__btn {
        left: initial; } }
  .about-us__info {
    padding: 15px; }
    @media (min-width: 1400px) {
      .about-us__info {
        padding: 30px 45px 80px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center; } }
  .about-us__btn-map {
    width: 280px; }
