.article {

  li {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
  }

  a {

    &:hover {
      color: #679100;
    }
  }

  &__pic-wrap {
    position: relative;
    width: 100%;
    height: auto;

    &::after {
      position:absolute;
      left: 50%;
      margin-left: -45%;
      content: '';
      width: 90%;
      height: 100%;
      top: 40px;
      border: 2px solid #E9EFE8;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__pic {
    width: 100%;
    object-fit: contain;
    height: 30vw;
    max-height: 400px;

    background: url('../img/pattern.png');

    &_grayscale {
      filter: grayscale(1);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: cover;
    }
  }

  p, a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 20px;

    &:first-of-type {
      margin-top: 80px;
    }

    &:last-child {
      margin-bottom: 40px;
    }
  }

  &__text {

    p:first-of-type {
      margin-top: 55px;
    }
  }
}

.article_margin {

  & p:last-child {
    margin-bottom: 60px;
  }
}

@media (max-width: 1200px) {
  .article {

    & p {

      &:last-child {
        margin-bottom: 60px;
      }
    }
  }
}

@media (max-width: 768px) {
  .article {

    & p {

      &:first-of-type {
        margin-top: 60px;
      }
    }
  }
}

@media (max-width: 576px) {
  .article {

    &__pic-wrap {

      &::after {
        top: 20px;
      }
    }

    p {
      font-size: 16px;

      &:first-of-type {
        margin-top: 60px;
      }
    }

    &__text {

      p:first-of-type {
        margin-top: 35px;
      }
    }
  }
}