.button-first {
  position: relative;
  cursor: pointer;
  border-radius: 0;
  color: white;
  background-color: #679100;
  padding: 1.3em 4em;
  font-weight: 600;
  text-transform: uppercase;

  &:hover {
    color: #F55E21;
    background-color:#E9EFE8;
  }

  &_noactive {
    pointer-events: none;
    background-color: #c2c2c2;
    border-color: gray;
  }

  &_padding {
    padding: 20px 50px 20px 50px;
  }

  &_mt {
    margin-top: 45px;
  }

  &_border {
    border: 2px solid #E9EFE8;
  }
}

.button-second {
  position: relative;
  cursor: pointer;
  border-radius: 0;
  border: 2px solid #E9EFE8;
  background: transparent;
  color: #F55E21;
  padding: 1.3em 2em;
  font-weight: 600;
  text-transform: uppercase;

  &:hover {
    border: 2px solid #679100;
    background-color: #679100;
    color: #fff;
  }

  &_white-border-no-top {
    border-color: white;
    border-top: 0;

    &:hover {
      border-top: 0;
    }
  }

  &_width {
    width: 50%;
  }

  &_padding {
    padding: 20px 50px;

    @media (max-width: 576px) {
      padding: 10px;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &_active {
    background-color: #E9EFE8;
  }
}

.button-appointment, .button-doctor-call, .button-feedback {
  position: fixed;

  width: 180px;
  height: 80px;

  transition: left .25s ease-in;

  &:hover {
    left: calc(100vw - 97px * 2);
    transition: left .25s ease-in;
    animation-play-state: paused;
  }
}

.button-appointment {
  bottom: 0;
  left: calc(100vw - 97px);
  background: url("../svg/button-appointment.svg") 0 0/contain no-repeat;
  z-index: 12;
  text-transform: uppercase;

  animation: hello 7.8s 5.2s infinite ease-in-out;
}

.button-doctor-call {
  bottom: 78px;
  left: calc(100vw - 97px);
  background: url("../svg/button-doctor-call.svg") 0 0/contain no-repeat;
  z-index: 11;
  text-transform: uppercase;

  animation: hello 7.8s 2.6s infinite ease-in-out;
}

.button-feedback {
  bottom: 156px;
  left: calc(100vw - 97px);
  background: url("../svg/button-feedback.svg") 0 0/contain no-repeat;
  z-index: 11;
  text-transform: uppercase;

  animation: hello 7.8s infinite ease-in-out;
}


@keyframes hello {
  3.85% {opacity: 0.5; transform: scale(1.1)}
  7.7% {opacity: 1; transform: scale(1)}
}