.comments {

  & .swiper-slide {
    height: auto;
  }

  &_margin {
    margin-bottom: 40px;
  }

  &__wrap {
    margin-bottom: 20px;
    border-bottom: 2px solid #E9EFE8;

    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }

  &__body {
    height: 100%;
    padding: 40px 130px 40px 60px;
    display: flex;
    background-color: #E9EFE8;
  }

  &__names {
    margin-bottom: 20px;
    min-width: 185px;
  }

  &__name {
    color: #679100;
    font-weight: 600;

    &_black {
      color: #434343;
    }
  }

  &__text {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 164%;
  }

  & a:hover {
    opacity: 1;
  }

  & .button-second_border {
    padding: 20px 45px;
    border-bottom: 0;

    &:first-of-type {
      padding: 20px 65px;
    }
  }

  & .nav-tabs {
    border-bottom: 0;
  }

  & .pagination-2 {
    border-top: 0;
  }
}

.swiper_view_off {
  height: 0;
}

.swiper-second, .swiper-thrity {
    overflow: hidden;
}

@media (min-width: 992px) {
  .comments {

    &__body {
      min-height: 280px;
      max-height: 280px;
    }
  }
}

@media (max-width: 992px) {
  .comments {

    &_margin {
      margin-bottom: 90px;
    }
  }

}

@media (max-width: 768px) {
  .comments {

    &__body {
      padding: 15px 15px 30px 15px;
      flex-direction: column;
    }

    & .nav-tabs {
      width: 100%;
    }

    & .button-second_border {
      font-size: 12px;
      width: 50%;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:first-of-type {
        width: 50%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &_margin {
      margin-bottom: 70px;
    }
  }
}

@media (max-height: 768px) and (min-width: 768px) {
  .comments_margin {
    margin-bottom: 70px;
  }
}