.logo {
  width: 428px;
  height: 118px;
  background: url("../svg/logo.svg") no-repeat;
  background-size: contain;

  @media (max-width: 768px) {
    width: 214px;
    height: 59px;
  }
  @media (max-width: 576px) {
    width: calc(214px * 0.7);
    height: calc(59px * 0.7);
  }
}

a.logo:hover {
  opacity: 1;
}