.desktop-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media (max-width: 1200px) {
    display: none;
  }
  @media (max-height: 768px) and (min-width: 768px) {
    margin-top: 24px;
  }

  .nav-link {
    position: relative;
    padding-left: 0.4em;
    padding-right: 0.4em;

    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #F55E21;
      color: white !important;
    }

    &_active {
      position: relative;

      &::before {
        position: absolute;
        bottom: -1px;
        left: 0.6em;
        right: 0.5em;
        content: '';
        height: 2px;
        background-color: #434343;
      }
    }

    h3 {
      font-weight: 600;
      font-size: 18px;
      line-height: 17px;
      margin-bottom: 0;

      @media (max-width: 1350px) {
        font-size: 14px;
      }
    }
  }
}


.form-inline_edit {
  min-width: 310px;
  margin-left: 50px;
}

.link_order {
  margin-right: 40px;
  color: #F55E21;
}

.dropdown-menu {
  margin-top: -1px;
  margin-left: -15px;
  padding: 1.2em 0.5em;
  background-color: #E9EFE8;
  border: 0;
  border-radius: 0;
}

.dropdown-item {
  margin-top: 6px;
  margin-bottom: 6px;

  &:hover {
    background-color: #F55E21;
    color: white;
  }

  h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 17px;
    margin-bottom: 0;

    @media (max-width: 1350px) {
      font-size: 14px;
    }
  }
}