.list {

  & ul {
    list-style: none;
    margin-bottom: 20px;
  }

  & li {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 18px;
    line-height: 220%;

    &::before {
      position: absolute;
      top: 50%;
      margin-top: -5px;
      left: -25px;
      content: '';
      width: 10px;
      height: 10px;
      background-color: #E9EFE8;
      border-radius: 50%;
    }
  }
}