@import "../components/logo";
@import "../components/navdesktop";
@import "../components/navmobil";
@import "../components/popups";

.header {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;

  &__logo {

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.navbar-first {
  background-color: #E9EFE8;
  padding-top: 10px;
  padding-bottom: 10px;

  &_mb {
    margin-bottom: 101px;
  }

  &__text {
    min-width: 410px;
    margin-left: 35px;
    margin-right: 20px;
    margin-bottom: 0;

    display: flex;
    align-items: center;
    flex-shrink: 0;

    font-size: 16px;

    @media (max-width: 1350px) {
      font-size: 14px;
    }
    @media (max-width: 1200px) {
      margin-right: auto;
    }

    &::before {
      position: absolute;
      content: '';
      margin-left: -30px;
      width: 25px;
      height: 25px;
      background: url("../svg/point.svg") no-repeat;
    }
  }
}

.navbar-toggler {

  &:focus {
    outline: none;
  }
}

.navbar-second {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #E9EFE8;

  &_glue {
    top: 0;
    position: fixed;
    max-height: 100vh;
    z-index: 11;
  }

  .navbar-toggler-icon {
    width: 89px;
    height: 17px;
    background: url("../svg/menu-button.svg") no-repeat;
  }

  .nav-item {
    padding-left: 2px;
    padding-right: 2px;

    &:last-child {
      padding-right: 0;
    }
  }

  [aria-expanded=true] .navbar-toggler-icon {
    width: 23px;
    height: 23px;
    background: url("../svg/menu-button-close.svg") no-repeat;
  }
}

.navbar {
  padding: 0;
  position: relative;

  &__logo {

    @media (min-width: 769px) {
      display: none;
    }
  }
}

.navbar_edit .nav-link {
  position: relative;
}

.navbar-first .nav-item {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;

  @media (max-width: 1350px) {
    font-size: 14px;
  }

  &:last-child {
    padding-right: 40px;
  }
}

.nav-link {
  padding: 0.5rem 0 0.5rem 2rem;

  &_search {
    display: flex;
    position: relative;
    align-items: center;

    &::before {
      position: absolute;
      content: '';
      left: 0;
      width: 25px;
      height: 25px;
      background: url("../svg/search.svg") no-repeat;
      background-size: contain;
    }
  }

  &_cabinet{
    display: flex;
    position: relative;
    align-items: center;

    &::before {
      position: absolute;
      content: '';
      left: 0;
      width: 25px;
      height: 25px;
      background: url("../svg/man.svg") no-repeat;
      background-size: contain;
    }
  }

  &_comment {
    display: flex;
    position: relative;
    align-items: center;

    &::before {
      position: absolute;
      content: '';
      left: 0;
      width: 25px;
      height: 25px;
      background: url("../svg/message.svg") no-repeat;
      background-size: contain;
    }
  }
}

.nav {
  width: 100%;
  justify-content: flex-end;
}

.link-number-wrap {

  @media (max-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.link-number {
  font-size: 30px;
  line-height: 36px;
  color: #F55E21;

  @media (max-width: 1350px) {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-height: 768px) and (min-width: 768px){
  .navbar-first {
    padding-top: 20px;
  }

  .navbar-second {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 1200px) {
  .navbar-second {

    &_glue {
      overflow-y: auto;
    }
  }
}

@media (max-width: 960px) {
  .navbar-first {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .navbar-first__text_display {
    display: none;
  }
}

@media (max-width: 576px) {
  .navbar-first {
    padding-top: 15px;
    padding-bottom: 15px;

    &_mb {
      margin-bottom: 83.3px;
    }
  }
}
