.advantages
  .advantages__block
  section.advantages__block-content
    h2.advantages__title Геромедицина - надежная клиника с опытными врачами
    .advantages__list.advantages__list_main-page
      .advantages__item
        .advantages__num 42
        .advantages__text
          | Врача и
          br
          | медицинских сестер
      .advantages__item
        .advantages__text
          | Прием ведут
          span  доктора
          br
          span и кандидаты
          |  медицинских наук
      .advantages__item
        .advantages__num
          | 12
          span летний
        .advantages__text
          | Опыт работы
          br
          | центра
      .advantages__item
        .advantages__num
          span более
          | 11
          span тыс.
        .advantages__text
          | Довольных
          br
          | пациентов
  .advantages__block