.ask-form
  h3.title.ask-form__title
    | Появились вопросы?
    br
    | напишите нам и мы ответим
  form.ask-form__form
    input.ask-form__input(type="text" placeholder="ФИО" required)
    input.ask-form__input(type="text" id="email" placeholder="E-mail" required pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})")
    textarea.ask-form__textarea(placeholder="Комментарий" required)
    button.button.button_second.ask-form__btn(type="button") Отправить
