-
  buttons = [
    {modifier: 'feedback', href: '#form-popup-call-feedback', text: 'Заказать обратный звонок'},
    {modifier: 'doctor-call', href: '#form-popup', text: 'Вызов врача'},
    {modifier: 'appointment', href: '#form-popup-appointment', text: 'Запись на прием'}
  ];

each button in buttons
  button.button-call(class=`button-call_${button.modifier}` data-href=button.href)
    span.button-call__text=button.text