-
  buttons = [
    {modifier: 'feedback', btn: 'modal-call-feedback-btn', text: 'Заказать обратный звонок'},
    {modifier: 'doctor-call', btn: 'modal-doctor-call-btn', text: 'Вызов врача'},
    {modifier: 'appointment', btn: 'modal-appointment-btn', text: 'Запись на прием'}
  ];

each button in buttons
  button.button-call(class=`button-call_${button.modifier}` data-btn=button.btn)
    span.button-call__text=button.text