.different.different_mb
  h5.different__title Что вы получаете при выборе услуг клиники «геромедицина»
  .different__block
    .different__head
      .different__title-col.different__title-col_other
        | В любой другой
        br
        | клинике
      .different__title-col.different__title-col_we
        | В клинике
        br
        | «Геромедицина»
    .different__body

      -
        info = [
          {icon: 'svg/different/time.svg', otherText: '15 минут и забыли про Вас', weText: '90 минут и сопровождение до результата'},
          {icon: 'svg/different/attention.svg', otherText: 'Не уделяют внимания личности пациента', weText: 'Проявляем уважение и интерес к пациенту, учитываем возраст, привычки, физические и финансовые возможности'},
          {icon: 'svg/different/ask.svg', otherText: 'Задают стандартные, «дежурные» вопросы', weText: 'Изучаем ситуацию подробно, понимая Ваши потребности, совокупность и взаимное влияние всех симптомов и заболеваний'},
          {icon: 'svg/different/check.svg', otherText: 'Проверяют давление, пульс, обращают внимание на ведущие жалобы', weText: 'Расширенный осмотр и комплексный подход к лечению и реабилитации, с целью полного восстановления '},
          {icon: 'svg/different/write.svg', otherText: 'Молча пишут рекомендации неразборчивым почерком\n', weText: 'Предоставляем необходимую информацию и вместе с пациентом и родственниками принимаем решения'},
          {icon: 'svg/different/relationships.svg', otherText: 'Имеют поток пациентов, из-за которого врачу сложно следить за каждым пациентом', weText: 'У нас длительные и доверительные отношения с пациентами на долгие годы'}
        ]

      each row in info
        .different__other
          .different__icon(style=`background-image: url(${row.icon})`)
          .different__text.different__text_minus=row.otherText
        .different__we
          .different__text.different__text_plus=row.weText

    .different__footer
      .different__footer-text Для нас важно ваше здоровье!