.filter-panel
  .filter-panel__select
    select
      option(disabled selected) выбрать направление
      option(value="all") все
      option(value="direction-1") направление 1
      option(value="direction-2") направление 2
  .filter-panel__select
    select
      option(disabled selected) выбрать год
      option(value="all") все года
      option(value="2019") 2019
      option(value="2018") 2018
  .filter-panel__search
    input.filter-panel__input-search(type="text" placeholder="поиск")
    button.filter-panel__btn-search