#map.map
  .map__description
    h3.title.map__title Где нас найти?
    .map__text
      p ООО «Клиника для детей и взрослых на Открытом шоссе» ПРОЕКТ: «ГЕРОМЕДИЦИНА» – клиника медицинского патронажа и гериатрии.
      p Москва, Открытое шоссе, дом 12, стр.2, эт.1
  .map__img
    <script async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae68f42cb23099a3be9a721c0a4dfc5fcc502100375ac00c6941008c9172c0c87&amp;lang=ru_RU&amp;scroll=true"></script>