nav
    .pagination-2
        .pagination__item.pagination__item_disabled
            .arrow
                a.pagination__link.pagination__link_prew(href="#")
        .pagination__item.arrow-right
            .arrow
                a.pagination__link.pagination__link_next(href="#")
        a.no-opacity.popup-with-form.btn.button-second.button-second_padding(href="our-specialist.html") смотреть всех