.swiper-container.swiper-main
  .swiper-wrapper
    -
      arrInfo = [{
        title: 'Отличные цены на обследование',
        description: 'МРТ, Энцефолограмма, ЭКГ',
        img: 'images/slider/big-slide-1.jpg'
      }, {
        title: 'Отличные цены',
        description: 'МРТ, Энцефолограмма, ЭКГ',
        img: 'images/slider/big-slide-2.jpg'
      }, {
        title: 'На обследование',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar arcu lectus eget convallis in nec maecenas elit. Pharetra lobortis aliquam porttitor convallis amet ut.',
        img: 'images/slider/big-slide-3.jpg'
      }];

    each item in arrInfo
      .swiper-slide.swiper-main__slide
        .swiper-main__content
          section.swiper-main__wrap
            h2.swiper-main__title=item.title
            p.swiper-main__description=item.description
            a.button.button-second.swiper-main__btn(href="name-service-cardiology.html") Подробнее
        .swiper-main__img
          img.swiper-lazy(data-src=item.img alt="slide1" src='images/other/pixel.png')
          .swiper-lazy-preloader


  .swiper-main__tools
    .swiper-pagination.swiper-main__pagination
    button.swiper-main__next
    button.swiper-main__prev