.swiper-container.swiper-container_margin.d-none.d-xl-block
  .swiper-wrapper

    -
      arrInfo = [{
        title: 'Отличные цены на обследование',
        description: 'МРТ, Энцефолограмма, ЭКГ',
        price: 'от 1900000000р',
        img: 'img/big-slide-1.jpg'
      }, {
        title: 'Отличные цены',
        description: 'МРТ, Энцефолограмма, ЭКГ',
        price: 'от 150р',
        img: 'img/big-slide-2.jpg'
      }, {
        title: 'На обследование',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar arcu lectus eget convallis in nec maecenas elit. Pharetra lobortis aliquam porttitor convallis amet ut.',
        price: 'от 900р',
        img: 'img/big-slide-3.jpg'
      }];

    each item in arrInfo
      .swiper-slide
        .swiper-slide__wrapper
          .swiper-slide__wrap
            .swiper-slide__caption
              h2=item.title
              .swiper-slide__description(data-dotdotdot="slider")=item.description
              .swiper-slide__text=item.price
            button.button-second(onclick="location.href='name-service-cardiology.html'") подробнее
          .swiper-slide__img
            img.swiper-lazy(data-src=item.img alt="slide1" src='img/pixel.png')
            .swiper-lazy-preloader


  .page-wrapper
    .row
      .col-11.offset-1
        .swiper-pagination
        .swiper-button-next
        .swiper-button-prev