extends layout/layout

block content
    .error-404.d-flex.flex-column.justify-content-center.align-items-center
        h1.error-404__title 404
        p.error-404__text «Страница не найдена»<br> Что-то пошло не так
        a.error-404__btn.no-opacity.popup-with-form.btn.btn-sm.lign-middle.button-first.w-100(href="#form-popup-appointment") вернуться назад