extends layout/layout
include mixins/article

block head
    - var title = 'О клинике';
    - var pageId = 1;

block header
   include layout/header

block content
    main
        .page-wrapper.container-fluid
            .breadcrumbs(itemscope="" itemtype="http://schema.org/BreadcrumbList")
                span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
                    a(itemprop="item" href="/") главная
                        meta(itemprop="name" content="Главная")
                        meta(itemprop="position" content="1")
                span /
                span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
                    a(itemprop="item" href="about-us.html") о клинике
                        meta(itemprop="name" content="О клинике")
                        meta(itemprop="position" content="2")

            .about__article
                article.article
                    +article('о клинике', 'img/about-us-pic.jpg', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet congue quam. Cras venenatis augue nunc, sed molestie orci faucibus sed. Maecenas cursus odio augue, in posuere augue iaculis eu. Aliquam vel suscipit nunc, in lobortis leo. Fusce ac lacinia elit, eu euismod ligula. Suspendisse ornare venenatis condimentum. Nullam sagittis et lacus ac posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus vel dolor ac libero ultricies pellentesque.Donec laoreet suscipit risus in bibendum. Sed at sodales sem. Nullam molestie, arcu sit amet tincidunt mattis, sem felis congue metus, sed aliquam dui nulla nec diam. In lobortis nunc velit, sit amet luctus tellus mollis in. Suspendisse feugiat mi id dolor mattis viverra. Nunc diam diam, egestas ut arcu quis, convallis aliquam odio. Pellentesque sodales euismod tortor, sit amet sollicitudin lorem. Nulla mattis magna eget ante aliquam, at gravida lectus venenatis. Proin mauris ipsum, porta at est quis, porta scelerisque mi. In at pretium lectus.Curabitur volutpat, risus eu rutrum condimentum, nibh diam mollis ex, in consequat sapien lectus in lorem. Pellentesque dignissim tempor erat vitae laoreet. Mauris quis porttitor nulla. Nam tincidunt placerat massa quis maximus. Cras at eros a urna tincidunt vulputate et eget felis. Cras risus tortor, facilisis a tristique at, tempus et felis. Duis consequat justo eget elit suscipit viverra.', 'Donec eget leo sit amet sem aliquam maximus in nec eros. Maecenas sit amet lacus vel elit malesuada vulputate. In dui nibh, viverra nec faucibus non, posuere non quam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris commodo elit at nisl posuere bibendum. Donec id mi pretium, porttitor felis vel, posuere arcu. Phasellus ipsum odio, venenatis sed magna in, finibus placerat arcu. Maecenas sed rutrum lectus. Vivamus eget sagittis mi, at sagittis purus. Duis auctor blandit nunc nec suscipit.Nunc consequat leo quam, at euismod mauris mattis quis. Integer augue orci, molestie nec nulla non, luctus sollicitudin orci. Maecenas tempus varius enim, sit amet imperdiet nisi hendrerit sit amet. Etiam eu enim ut sapien luctus ultrices nec non magna. Phasellus pretium interdum diam ut fringilla. Vestibulum tincidunt risus sed tellus placerat pharetra. Vestibulum non dapibus odio. Curabitur at tristique lorem, id volutpat sem. Nulla sagittis dolor id mauris congue, non maximus sem molestie. Proin odio est, finibus vitae auctor ac, lacinia blandit nunc. Cras non nulla in felis suscipit fringilla quis a dolor. Cras eu quam id quam euismod mattis accumsan a justo. Etiam odio elit, suscipit id scelerisque nec, tristique ac ex. Quisque ex diam, volutpat at mattis at, pretium vel tellus. Quisque pellentesque arcu eu ante mattis, vel posuere nibh gravida. Vestibulum et vehicula ex.')


            .wrap-max
                .directions
                    section
                        .directions__wrap
                            h2.title.title_gray наши направления
                            section
                                h3 Мы оказываем услуги в следующих направлениях:
                                ul
                                    - var itemsFirst = ['Аллергология и иммунология;', 'Андрология;', 'Гастроэнтерология;', 'Гинекология и ведение беременности;', 'Дерматология и косметология;', 'Массаж и мануальная терапия;', 'Неврология;', 'Нефрология;', 'Онкология;', 'Оториноларингология;', 'Офтальмология;', 'Педиатрия;', 'Патронаж;', 'Ревматология;', 'Терапия;', 'Травматология;', 'Ударно-волновая терапия;', 'Урологи;', 'Флебология;', 'Функциональная диагностика;', 'Хирургия;', 'Эндокринология;']
                                    each item in itemsFirst
                                        li
                                            a(href="name-service-cardiology.html")= item


                            section
                                h3 Диагностика
                                ul
                                    - var itemsSecond = ['Анализы;', 'УЗИ экспертного класса;', 'Рентгенография;', 'Спирометрия;', 'Эндоскопические обследования (гастроскопия, колоноскопия, эндоскопические обследования ЛОР-органов);', 'Функциональная диагностика;', 'Электроэнцефалография;', 'ЭКГ;', 'Маммография;', 'и др.']
                                    each item in itemsSecond
                                        li
                                            a(href="name-service-cardiology.html")= item

                .about__text
                    p Donec eget leo sit amet sem aliquam maximus in nec eros. Maecenas sit amet lacus vel elit malesuada vulputate. In dui nibh, viverra nec faucibus non, posuere non quam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris commodo elit at nisl posuere bibendum. Donec id mi pretium, porttitor felis vel, posuere arcu. Phasellus ipsum odio, venenatis sed magna in, finibus placerat arcu. Maecenas sed rutrum lectus. Vivamus eget sagittis mi, at sagittis purus. Duis auctor blandit nunc nec suscipit.

                .certificates
                    .certificates__wrap
                        h2.title.title_gray сертификаты
                        .row
                            .col-12.col-sm-6.col-lg-4.mb-5
                                a(href="img/sertificate-1.jpg" data-fancybox="gallery" data-caption="фулл сертификата, тут описание")
                                    img(src="img/sertificate-1.jpg" alt="превью сертификата")
                            .col-12.col-sm-6.col-lg-4.mb-5
                                a(href="img/sertificate-2.jpg" data-fancybox="gallery" data-caption="фулл сертификата, тут описание")
                                    img(src="img/sertificate-2.jpg" alt="Сертификат")
                            .col-12.col-sm-6.col-lg-4.mb-5
                                a(href="img/sertificate-3.jpg" data-fancybox="gallery" data-caption="фулл сертификата, тут описание")
                                    img(src="img/sertificate-3.jpg" alt="Сертификат")


                .slider
                    ul#lightSlider
                        li(data-thumb="img/slidemin1.jpg" data-src="img/slide1.jpg")
                            .about-us__video
                                .about-us__overlay(id="about-us__overlay")
                                video.slider__first(poster="img/transparent" id="video_about-us")
                                    source(src="video/video.mp4" type="video/mp4")
                                    source(src="video/video.webm" type="video/webm")
                                    source(src="video/video.ogv" type="video/ogg")
                        li(data-thumb="img/slidemin2.jpg" data-src="img/slide2.jpg")
                            img(src="img/slide2.jpg" alt="Слайд")
                        li(data-thumb="img/slidemin3.jpg" data-src="img/slide3.jpg")
                            img(src="img/slide3.jpg" alt="Слайд")
                        li(data-thumb="img/slidemin4.jpg" data-src="img/slide4.jpg")
                            img(src="img/slide4.jpg" alt="Слайд")
                        li(data-thumb="img/doctor-1.jpg" data-src="img/doctor-1.jpg")
                            img(src="img/doctor-1.jpg" alt="Слайд")


        include components/map








block footer
  include layout/footer

