extends layout/layout
include mixins/cards

block head
    - var title = 'Статьи о здоровье';
    - var pageId = 6;

block header
    include layout/header

block content
    main
        .page-wrapper.container-fluid
            .breadcrumbs
                a(href="index.html") главная
                span /
                span статьи о здоровье


            .recommendations.recommendations_margin
                .wrap-950_pd
                    .wrap-950
                        h2.title.title_gray статьи о здоровье
                        hr.title__hr.title__hr_width

                        .form-inline_wrap
                            form.form-inline
                                .select
                                    select(id="selectItem")
                                        option(disabled selected) выбрать направление
                                        option(value="all") все
                                        option(value="direction-1") направление 1
                                        option(value="direction-2") направление 2
                                        option(value="direction-3") направление 3
                            form.form-inline.form-inline_margin-left.form-inline_margin-top.form-inline_margin-right
                                .select
                                    select(id="selectYears")
                                        option(disabled selected) выбрать год
                                        option(value="all" data-year) все года
                                        option(value="2019" data-year) 2019
                                        option(value="2018" data-year) 2018
                                        option(value="2017" data-year) 2017
                                        option(value="2016" data-year) 2016
                            form.form-inline
                                input.form-control.form-control_no-border.form-control_md_border-bottom.flex-grow-1(type="search" placeholder="поиск" aria-label="Search")
                                button.btn.btn-search(type="submit")

                        hr.our-specialist__hr


                .wrap-950_pd
                    .wrap-950
                        .row
                            .col-12(data-index="direction-1" data-year-item="2019" data-card)
                                .card.card_horizontal.card_horizontal_margin
                                    img.card__img.card__img_grayscale(src='img/article-img-1.jpg' alt="Обложка статьи")
                                    .card__description
                                        h3.card__title(data-dotdotdot="article-img") «Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности'
                                        span.card__link читать
                                        a(href='article.html').card__link_full
                            .col-12(data-index="direction-3" data-year-item="2017" data-card)
                                .card.card_horizontal.card_horizontal_margin
                                    img.card__img.card__img_grayscale(src='img/article-img-2.jpg' alt="Обложка статьи")
                                    .card__description
                                        h3.card__title(data-dotdotdot="article-img") «Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности'
                                        span.card__link читать
                                        a(href='article.html').card__link_full
                            .col-12(data-index="direction-1" data-year-item="2018" data-card)
                                .card.card_horizontal.card_horizontal_margin
                                    img.card__img.card__img_grayscale(src='img/article-img-2.jpg' alt="Обложка статьи")
                                    .card__description
                                        h3.card__title(data-dotdotdot="article-img") «Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности'
                                        span.card__link читать
                                        a(href='article.html').card__link_full
                            .col-12(data-index="direction-2" data-year-item="2016" data-card)
                                .card.card_horizontal.card_horizontal_margin
                                    img.card__img.card__img_grayscale(src='img/article-img-2.jpg' alt="Обложка статьи")
                                    .card__description
                                        h3.card__title(data-dotdotdot="article-img") «Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности'
                                        span.card__link читать
                                        a(href='article.html').card__link_full


                .wrap-950_pd.recommendations__pagination_margin
                    .wrap-950
                        include components/pagination

        include components/ask-form






block footer
    include layout/footer