extends layout/layout
include mixins/cards

block head
    - var title = 'Контакты';
    - var pageId = 6;

block header
   include layout/header

block content
    main

        .page-wrapper.container-fluid
            .breadcrumbs
                a(href="index.html") главная
                span /
                span контакты

            .wrap-950_pd
                .wrap-950
                    h2.title.title_gray Контакты
                    hr.title__hr.title__hr_margin

                    .all-contacts
                        .contacts
                            h4.contacts__title Регистратура
                            span.contacts__time Пн - Пт: 08:00–20:00
                            span.contacts__time Cб: 08:00–20:00
                            span.contacts__time Вс: 08:00–14:00
                            a.contacts__number(href="tel:88002000000") 8 800 200 00 00
                            a.contacts__email.contacts__email_font(href="mailto:geromedicina@mail.ru") geromedicina@mail.ru

                        .contacts
                            h4.contacts__title Иванов Иван Иванович123
                            p.contact_position главврач
                            span.contacts__time Пн - Пт: 08:00–20:00
                            span.contacts__time Cб: 08:00–20:00
                            span.contacts__time Вс: 08:00–14:00
                            a.contacts__number(href="tel:88002000000") 8 800 200 00 00
                            a.contacts__email.contacts__email_font(href="mailto:geromedicina@mail.ru") geromedicina@mail.ru

                        .contacts
                            h4.contacts__title Иванов Иван Иванович
                            p.contact_position главврач
                            span.contacts__time Пн - Пт: 08:00–20:00
                            span.contacts__time Cб: 08:00–20:00
                            span.contacts__time Вс: 08:00–14:00
                            a.contacts__number(href="tel:88002000000") 8 800 200 00 00
                            a.contacts__email.contacts__email_font(href="mailto:geromedicina@mail.ru") geromedicina@mail.ru


        include components/map


        include components/ask-form




block footer
  include layout/footer

