extends layout/layout
include mixins/cards

block head
    - var title = 'Контакты';
    - var pageId = 8;

block header
   include layout/header

block content
    main

        .page-wrapper.container-fluid
            .breadcrumbs(itemscope="" itemtype="http://schema.org/BreadcrumbList")
                span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
                    a(itemprop="item" href="/") главная
                        meta(itemprop="name" content="Главная")
                        meta(itemprop="position" content="1")
                span /
                span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
                    a(itemprop="item" href="contact.html") контакты
                        meta(itemprop="name" content="Контакты")
                        meta(itemprop="position" content="2")

            .wrap-950_pd
                .wrap-950
                    h1.title.title_gray Контакты
                    hr.title__hr.title__hr_margin

                    .mb-5.contacts__map
                        include components/map

                    .contacts__text.contacts__text_mb
                        p Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок Текстовый блок

                    .all-contacts
                        .row
                            .col-12.col-sm-5.col-lg-4
                                .contacts.mb-5
                                    h4.contacts__title Регистратура
                                    .contact_position
                                        p
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Вс: 08:00–14:00
                                    a.contacts__number(href="tel:88002000000") 8 800 200 00 00
                                    a.contacts__email.contacts__email_font(href="mailto:geromedicina@mail.ru") geromedicina@mail.ru

                            .col-12.col-sm-5.col-lg-4
                                .contacts.mb-5
                                    h4.contacts__title Ивановсковьев Иван Иванович
                                    .contact_position
                                        p главврач
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Вс: 08:00–14:00
                                    a.contacts__number(href="tel:88002000000") 8 800 200 00 00
                                    a.contacts__email.contacts__email_font(href="mailto:geromedicina@mail.ru") geromedicina@mail.ru

                            .col-12.col-sm-5.col-lg-4
                                .contacts.mb-5
                                    h4.contacts__title Николай Петрович
                                    .contact_position
                                        p главврач
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Вс: 08:00–14:00
                                    a.contacts__number(href="tel:88002000000") 8 800 200 00 00
                                    a.contacts__email.contacts__email_font(href="mailto:geromedicina@mail.ru") geromedicina@mail.ru

                            .col-12.col-sm-5.col-lg-4
                                .contacts.mb-5
                                    h4.contacts__title Генадий Горин
                                    .contact_position
                                        p главврач
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Вс: 08:00–14:00
                                    a.contacts__number(href="tel:88002000000") 8 800 200 00 00
                                    a.contacts__email.contacts__email_font(href="mailto:geromedicina@mail.ru") geromedicina@mail.ru


                            .col-12.col-sm-5.col-lg-4
                                .contacts.mb-5
                                    h4.contacts__title Новый контакт
                                    .contact_position
                                        p главврач
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Cб: 08:00–20:00
                                    span.contacts__time Вс: 08:00–14:00
                                    a.contacts__number(href="tel:88002000000") 8 800 200 00 00
                                    a.contacts__email.contacts__email_font(href="mailto:geromedicina@mail.ru") geromedicina@mail.ru


        include components/ask-form




block footer
  include layout/footer

