extends layout/layout
include mixins/cards

block head
    - var title = 'Главная';

block header
    include layout/header

block content
    main
        <div class="swiper-container swiper-container_margin d-none d-xl-block">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    img(src="img/big-slide-1.jpg" alt="slide1")
                    .row
                        .col-11.offset-1
                            .swiper-slide__wrap
                                .swiper-slide__caption
                                    h5 Отличные цены на обследование
                                    .swiper-slide__text-wrap
                                        span МРТ, Энцефолограмма, ЭКГ
                                        span.swiper-slide__text от 1900000000р
                                button.button-second(onclick="location.href='name-service-cardiology.html'") подробнее
                </div>
                <div class="swiper-slide">
                    img(src="img/big-slide-2.jpg" alt="slide2")
                    .row
                        .col-11.offset-1
                            .swiper-slide__wrap
                                .swiper-slide__caption
                                    h5 Отличные цены
                                    .swiper-slide__text-wrap
                                        span МРТ, Энцефолограмма, ЭКГ
                                        span.swiper-slide__text от 150р
                                button.button-second(onclick="location.href='name-service-cardiology.html'") подробнее
                </div>
                <div class="swiper-slide">
                    img(src="img/big-slide-3.jpg" alt="slide3")
                    .row
                        .col-11.offset-1
                            .swiper-slide__wrap
                                .swiper-slide__caption
                                    h5 На обследование
                                    .swiper-slide__text-wrap
                                        span МРТ, Энцефолограмма, ЭКГ
                                        span.swiper-slide__text от 900р
                                button.button-second(onclick="location.href='name-service-cardiology.html'") подробнее
                </div>
            </div>
            .page-wrapper
                .row
                    .col-11.offset-1
                        <div class="swiper-pagination"></div>
                        .swiper-button-next
                        .swiper-button-prev
        </div>

        .wrap-info-about-us.wrap-1150
            .page-wrapper
                .info
                    .row.no-gutters
                        .col-12.col-lg-6.pr-lg-3
                            .info__wrap(onclick="location.href='price.html'")
                                .info__image
                                    img(src="img/price.jpg" alt="Картинка")
                                .info__description
                                    h4.title.title_white.title_info Услуги<br>и цены
                                    hr.info__hr
                        .col-12.col-lg-6.pl-lg-3
                            .info__wrap(onclick="location.href='price.html'")
                                .info__image
                                    img(src="img/doctors.jpg" alt="Картинка")
                                .info__description
                                    h4.title.title_white.title_info Услуги<br>и цены
                                    hr.info__hr

                .about-us.about-us_margin.container-fluid
                    .about-us__wrap
                        .row
                            .col-12.col-lg-6
                                .about-us__video
                                    .about-us__overlay(id="about-us__overlay")
                                    video(poster="img/transparent" id="video_about-us")
                                        source(src="video/video.mp4" type="video/mp4")
                                        source(src="video/video.webm" type="video/webm")
                                        source(src="video/video.ogv" type="video/ogg")
                                    .about-us__background-wrap
                                        .about-us__background
                            .col-12.col-lg-6
                                article.about-us__body(data-dotdotdot="about-body")
                                    h2.title о клинике
                                    .about-us__text
                                        p Mauris pellentesque pellentesque ullamcorper. Praesent in aliquam justo. Donec fermentum, augue sed dapibus tempor, purus diam euismod justo, et interdum lacus nunc eget quam. Sed rhoncus non urna at malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in dolor fringilla, bibendum odio eget, imperdiet nisl. Aliquam molestie nunc quis ligula laoreet, et maximus urna consequat.
                                    .about-us__buttons
                                        a(href="about-us.html").no-opacity.about-us__button.btn.button-second подробнее
        .wrap-1150
            .page-wrapper
                .row.container-fluid
                    .col-lg-12
                        h2.title.title_margin Отзывы
                .row.no-gutters
                    .col-12.col-lg-10.offset-lg-1
                        .container-fluid
                            - var buttonChoose = 'on';
                            include components/comments


        .articles
            .articles__wrap
                .wrap-1150
                    section.page-wrapper.container-fluid
                        h2.title.title_margin Статьи
                        .articles_img.row
                            .col-md-6.col-12
                                +article-img('img/article-img-2.jpg','вчера', 'Вакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августе', 'article.html')
                            .col-md-6.col-12
                                +article-img('img/article-img-1.jpg','21 июля', '«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности,«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности', 'article.html')
                        .articles_no-img.row
                            .col-lg-3.col-sm-6.col-12
                                +article-no-img('20 июля','Найден способ быстрого обнаружения различий в ДНК донора и реципиента при пересадке костного мозгаНайден способ быстрого обнаружения различий в ДНК донора и реципиента при пересадке костного мозгаНайден способ быстрого обнаружения различий в ДНК донора и реципиента при пересадке костного мозгаНайден способ быстрого обнаружения различий в ДНК донора и реципиента при пересадке костного мозгаНайден способ быстрого обнаружения различий в ДНК донора и реципиента при пересадке костного мозгаНайден способ быстрого обнаружения различий в ДНК донора и реципиента при пересадке костного мозга','article.html')
                            .col-lg-3.col-sm-6.col-12
                                +article-no-img('20 июля','Найден способ быстрого обнаружения различий в ДНК донора и реципиента при пересадке костного мозга','article.html')
                            .col-lg-3.col-sm-6.col-12
                                +article-no-img('20 июля','Найден способ быстрого обнаружения различий в ДНК донора и реципиента при пересадке костного мозга','article.html')
                            .col-lg-3.col-sm-6.col-12
                                +article-no-img('20 июля','Найден способ быстрого обнаружения различий в ДНК донора и реципиента при пересадке костного мозга','article.html')
            .wrap-1150
                .page-wrapper.container-fluid
                    a(href="articles-health.html").no-opacity.btn.button-second смотреть все

        .wrap-1150
            include components/map

        .w-100
            include components/ask-form




block footer
  include layout/footer

