extends layout/layout
include mixins/cards
include mixins/amenities-card

block head
  - var title = 'Главная';

block header
  include layout/header

block content
  main
    include components/slider

    .wrap-info-about-us.wrap-1150
      .page-wrapper
        //-.info
            .row.no-gutters
                .col-12.col-lg-6.pr-lg-3
                    .info__wrap(onclick="location.href='price.html'")
                        .info__image
                            img(src="img/price.jpg" alt="Картинка")
                        .info__description
                            h4.title.title_white.title_info Услуги<br>и цены
                            hr.info__hr
                .col-12.col-lg-6.pl-lg-3
                    .info__wrap(onclick="location.href='our-specialist.html'")
                        .info__image
                            img(src="img/doctors.jpg" alt="Картинка")
                        .info__description
                            h4.title.title_white.title_info Наши<br>доктора
                            hr.info__hr

        .amenities-cards
          h2.title.title_margin.amenities-cards__title Наша клиника предоставляет ряд услуг
          .amenities-cards__wrap
            -
              amenitiesCard = [
              {url: 'name-service-cardiology.html', img: 'img/doctors2.jpg', title: 'Кардиология'},
              {url: 'name-service-cardiology.html', img: 'img/doctors2.jpg', title: 'Андрология'},
              {url: 'name-service-cardiology.html', img: 'img/doctors2.jpg', title: 'Гастроэнтерология'},
              {url: 'name-service-cardiology.html', img: 'img/doctors2.jpg', title: 'Гинекология'},
              {url: 'name-service-cardiology.html', img: 'img/doctors2.jpg', title: 'Неврология'},
              {url: 'name-service-cardiology.html', img: 'img/doctors2.jpg', title: 'Офтальмология'},
              {url: 'name-service-cardiology.html', img: 'img/doctors2.jpg', title: 'Ревматология'},
              {url: 'name-service-cardiology.html', img: 'img/doctors2.jpg', title: 'Терапия'}
              ]

            each card in amenitiesCard
              +amenities-card(card)

          .amenities-cards__hr-wrap
            .amenities-cards__hr
              .amenities-cards__btn
                a(href="price.html").no-opacity.btn.button-second смотреть все

        .advantages
          .advantages__block
          .advantages__block-content
            h2.advantages__title Геромедицина - надежная клиника с опытными врачами
            .advantages__list
              .advantages__item
                .advantages__num 35
                .advantages__text Опытных<br>специалистов
              .advantages__item
                .advantages__num 20<span> лет</span>
                .advantages__text Средний<br>стаж
              .advantages__item
                .advantages__num <span>более </span>600
                .advantages__text Довольных<br>пациентов
          .advantages__block

        include components/specialist

        .about-us.about-us_margin.container-fluid
          .about-us__wrap
            .row
              .col-12.col-lg-5
                .about-us__video
                  .about-us__overlay(id="about-us__overlay")
                  video(poster="img/pixel.png" id="video_about-us2")
                    source(data-src='video/video.mp4' type="video/mp4")
              .col-12.col-lg-4
                article.about-us__body(data-dotdotdot="about-body")
                  h1.title.title_little Медицинский Центр "Геромедицина"
                  .about-us__text
                    p Mauris pellentesque pellentesque ullamcorper. Praesent in aliquam justo. Donec fermentum, augue sed dapibus tempor, purus diam euismod justo, et interdum lacus nunc eget quam. Sed rhoncus non urna at malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in dolor fringilla, bibendum odio eget, imperdiet nisl. Aliquam molestie nunc quis ligula laoreet, et maximus urna consequat.
                  .about-us__buttons.about-us__buttons_desktop
                    a(href="about-us.html").no-opacity.about-us__button.btn.button-second подробнее
              .col-12.col-lg-3
                .about-us__address
                  .about-us__text ООО «Клиника для детей и взрослых на Открытом шоссе»
                  .about-us__text.about-us__text_mb Россия, Москва, Открытое шоссе, д. 48, стр. 2
                  a.about-us__link(href="$map") Посмотреть карту проезда
                  .about-us__buttons.about-us__buttons_mobile
                    a(href="about-us.html").no-opacity.about-us__button.btn.button-second подробнее

    .wrap-1150
      .page-wrapper
        .row.container-fluid
          .col-lg-12
            h2.title.title_margin Отзывы
        .row.no-gutters
          .col-12.col-lg-10.offset-lg-1
            .container-fluid
              - var buttonChoose = 'on';
              include components/comments


    .articles
      .articles__wrap
        .wrap-1150
          section.page-wrapper.container-fluid
            h2.title.title_margin Статьи
            .articles_img.row
              .col-md-6.col-12.mb-3
                +article-img('img/article-img-2.jpg','вчера', 'Вакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августеВакцина от гриппа российского производства появится на рынке в августе', 'article.html')
              .col-md-6.col-12.mb-3
                +article-img('img/article-img-1.jpg','21 июля', '«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности,«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности', 'article.html')
            .articles_no-img.row
              .col-lg-3.col-sm-6.col-12.mb-3
                +article-img('img/article-img-1.jpg','21 июля', '«Можно быть пожилым в 50 лет и молодым', 'article.html', true)
              .col-lg-3.col-sm-6.col-12.mb-3
                +article-img('img/article-img-1.jpg','21 июля', '«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности,«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности«Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности', 'article.html', true)
              .col-xl-6.col-lg-6.col-md-12.mb-3
                include components/ask-form-white

      .wrap-1150
        .page-wrapper.container-fluid
          a(href="articles-health.html").no-opacity.btn.button-second смотреть все

    #map.wrap-1150
      include components/map




block footer
  include layout/footer

