extends layout/layout
include mixins/cards

block head
    - var title = 'Наши специалисты';
    - var pageId = 3;

block header
   include layout/header

block content
    main
        .page-wrapper
            .container-fluid
                .breadcrumbs
                    a(href="index.html") главная
                    span /
                    span специалисты


            .our-specialist.container-fluid
                .wrap-950_pd
                    .wrap-950
                        h2.title.title_gray наши специалисты
                        hr.title__hr.title__hr_width


                        .form-inline_wrap
                            form.form-inline.form-inline_margin-right
                                .select
                                   select(id="selectItem")
                                       option(disabled selected) выбрать направление
                                       option(value="all") все
                                       option(value="direction-1") направление 1
                                       option(value="direction-2") направление 2
                                       option(value="direction-3") направление 3
                            form.form-inline
                                input.form-control.form-control_md_border-bottom.form-control_no-border.flex-grow-1(type="search" placeholder="поиск" aria-label="Search")
                                button.btn.btn-search(type="submit")

                        hr.our-specialist__hr

            .container-fluid
                .wrap-950_pd
                    .wrap-950
                        .row
                            .col-6.col-sm-4.col-lg-3(data-index="direction-1" data-card)
                                .card.card_doctor
                                    img.card__img(src='img/doctor-1.jpg' alt="Фото специалиста")
                                    .card__description
                                        h3.card__title Волков<br>Генадий<br>Анатольевич
                                        span кардиолог
                                        a(href='doctor-profile.html').card__link_full
                            .col-6.col-sm-4.col-lg-3(data-index="direction-1" data-card)
                                .card.card_doctor
                                    img.card__img(src='img/doctor-3.jpg' alt="Фото специалиста")
                                    .card__description
                                        h3.card__title Тихомиров<br>Ян<br>Васильевич
                                        span кардиолог
                                        a(href='doctor-profile.html').card__link_full
                            .col-6.col-sm-4.col-lg-3(data-index="direction-2" data-card)
                                .card.card_doctor
                                    img.card__img(src='img/doctor-2.jpg' alt="Фото специалиста")
                                    .card__description
                                        h3.card__title Скулкина<br>Евангелина<br>Борисовна
                                        span кардиолог
                                        a(href='doctor-profile.html').card__link_full
                            .col-6.col-sm-4.col-lg-3(data-index="direction-1" data-card)
                                .card.card_doctor
                                    img.card__img(src='img/doctor-1.jpg' alt="Фото специалиста")
                                    .card__description
                                        h3.card__title Петров<br>Петр<br>Петрович
                                        span кардиолог
                                        a(href='doctor-profile.html').card__link_full
                            .col-6.col-sm-4.col-lg-3(data-index="direction-2" data-card)
                                .card.card_doctor
                                    img.card__img(src='img/doctor-1.jpg' alt="Фото специалиста")
                                    .card__description
                                        h3.card__title Волков<br>Генадий<br>Анатольевич
                                        span кардиолог
                                        a(href='doctor-profile.html').card__link_full
                            .col-6.col-sm-4.col-lg-3(data-index="direction-3" data-card)
                                .card.card_doctor
                                    img.card__img(src='img/doctor-3.jpg' alt="Фото специалиста")
                                    .card__description
                                        h3.card__title Тихомиров<br>Ян<br>Васильевич
                                        span кардиолог
                                        a(href='doctor-profile.html').card__link_full
                            .col-6.col-sm-4.col-lg-3(data-index="direction-1" data-card)
                                .card.card_doctor
                                    img.card__img(src='img/doctor-2.jpg' alt="Фото специалиста")
                                    .card__description
                                        h3.card__title Скулкина<br>Евангелина<br>Борисовна
                                        span кардиолог
                                        a(href='doctor-profile.html').card__link_full
                            .col-6.col-sm-4.col-lg-3(data-index="direction-2" data-card)
                                .card.card_doctor
                                    img.card__img(src='img/doctor-1.jpg' alt="Фото специалиста")
                                    .card__description
                                        h3.card__title Петров<br>Петр<br>Петрович
                                        span кардиолог
                                        a(href='doctor-profile.html').card__link_full
                            .col-6.col-sm-4.col-lg-3(data-index="direction-3" data-card)
                                .card.card_doctor
                                    img.card__img(src='img/doctor-1.jpg' alt="Фото специалиста")
                                    .card__description
                                        h3.card__title Волков<br>Генадий<br>Анатольевич
                                        span кардиолог
                                        a(href='doctor-profile.html').card__link_full
                            .col-6.col-sm-4.col-lg-3(data-index="direction-3" data-card)
                                .card.card_doctor
                                    img.card__img(src='img/doctor-3.jpg' alt="Фото специалиста")
                                    .card__description
                                        h3.card__title Тихомиров<br>Ян<br>Васильевич
                                        span кардиолог
                                        a(href='doctor-profile.html').card__link_full
                            .col-6.col-sm-4.col-lg-3(data-index="direction-1" data-card)
                                .card.card_doctor
                                    img.card__img(src='img/doctor-2.jpg' alt="Фото специалиста")
                                    .card__description
                                        h3.card__title Скулкина<br>Евангелина<br>Борисовна
                                        span кардиолог
                                        a(href='doctor-profile.html').card__link_full
                            .col-6.col-sm-4.col-lg-3(data-index="direction-2" data-card)
                                .card.card_doctor
                                    img.card__img(src='img/doctor-1.jpg' alt="Фото специалиста")
                                    .card__description
                                        h3.card__title Петров<br>Петр<br>Петрович
                                        span кардиолог
                                        a(href='doctor-profile.html').card__link_full

                .wrap-950_pd.our-specialist_margin
                    .wrap-950
                        include components/pagination






        include components/ask-form






block footer
  include layout/footer

