extends layout/layout

block head
    - var title = 'Услуги и цены';
    - var pageId = 2;

block header
    include layout/header

block content
    main
        .page-wrapper.container-fluid
            .breadcrumbs
                a(href="index.html") главная
                span /
                span услуги и цены


            .amenities
                .wrap-950_pd
                    .wrap-950
                        h2.title.title_gray Услуги и цены
                        hr.title__hr.title__hr_width


                        .amenities__head
                            .amenities__pic
                            .amenities__text
                                span.title.title_white патронаж
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque viverra semper nunc pellentesque euismod. Arcu ultricies non vel elit. Venenatis leo quam cras ridiculus. Tincidunt faucibus nisl, in libero eget.
                                span.amenities__next подробнее
                                a.amenities__link(href="name-service-patronage.html")

                        p.amenities__description Здесь представлены цены нашего клинического обслуживания, патронаж рассчитывается индивидуально, звоните!


                        <div class="accordion" id="accordionExample">
                            <div class="card-spoiler">
                              <div class="card-b">
                                <div class="card-b-header" id="headingOne">
                                  <h5 class="mb-0">
                                    <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Диагностика</a>
                                    <a href="#" class="plus" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"></a>
                                    <a href="#" class="card-spoiler-full" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"></a>
                                  </h5>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                  <div class="card-b-body">
                                    .card-b-block
                                        .row
                                            .col.d-flex.justify-content-end.amenities__name
                                                a(href='name-service-cardiology.html') Подробнее о направлении
                                    .card-b-block
                                        a.card-spoiler-full(href="service-cardiology.html")
                                        .row
                                            .col-12.col-sm-8
                                                span.amenities__name Прием (осмотр, консультация) врача-кардиолога первичный
                                            .col-12.col-sm-4.mt-3.mt-sm-0
                                                span.amenities__cost 1 500₽
                                    .card-b-block
                                        a.card-spoiler-full(href="service-cardiology.html")
                                        .row
                                            .col-12.col-sm-8
                                                span.amenities__name Прием (осмотр, консультация) врача-кардиолога повторный
                                            .col-12.col-sm-4.mt-3.mt-sm-0
                                                span.amenities__cost 1 200₽
                                    .card-b-block
                                        a.card-spoiler-full(href="service-cardiology.html")
                                        .row
                                            .col-12.col-sm-8
                                                span.amenities__name Прием, консультация врача-специалиста к.м.н.
                                            .col-12.col-sm-4.mt-3.mt-sm-0
                                                span.amenities__cost 2 500₽
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="card-spoiler">
                              <div class="card-b">
                                <div class="card-b-header" id="headingTwo">
                                  <h5 class="mb-0">
                                    <a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Кардиология</a>
                                    <a href="#" class="plus" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"></a>
                                    <a href="#" class="card-spoiler-full" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"></a>
                                </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                  <div class="card-b-body">
                                    .card-b-block
                                        .row
                                            .col.d-flex.justify-content-end.amenities__name
                                                a(href='name-service-cardiology.html') Подробнее о направлении
                                    .card-b-block
                                        a.card-spoiler-full(href="service-cardiology.html")
                                        .row
                                            .col-12.col-sm-8
                                                span.amenities__name Прием (осмотр, консультация) врача-кардиолога первичный
                                            .col-12.col-sm-4.mt-3.mt-sm-0
                                                span.amenities__cost 1 500₽
                                    .card-b-block
                                        a.card-spoiler-full(href="service-cardiology.html")
                                        .row
                                            .col-12.col-sm-8
                                                span.amenities__name Прием (осмотр, консультация) врача-кардиолога повторный
                                            .col-12.col-sm-4.mt-3.mt-sm-0
                                                span.amenities__cost 1 200₽
                                    .card-b-block
                                        a.card-spoiler-full(href="service-cardiology.html")
                                        .row
                                            .col-12.col-sm-8
                                                span.amenities__name Прием, консультация врача-специалиста к.м.н.
                                            .col-12.col-sm-4.mt-3.mt-sm-0
                                                span.amenities__cost 2 500₽
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="card-spoiler">
                              <div class="card-b">
                                <div class="card-b-header" id="headingThree">
                                  <h5 class="mb-0">
                                    <a href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Андрология</a>
                                    <a href="#" class="plus" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"></a>
                                    <a href="#" class="card-spoiler-full" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree"></a>
                                  </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                  <div class="card-b-body">
                                    .card-b-block
                                        .row
                                            .col.d-flex.justify-content-end.amenities__name
                                                a(href='name-service-cardiology.html') Подробнее о направлении
                                    .card-b-block
                                        a.card-spoiler-full(href="service-cardiology.html")
                                        .row
                                            .col-12.col-sm-8
                                                span.amenities__name Прием (осмотр, консультация) врача-кардиолога первичный
                                            .col-12.col-sm-4.mt-3.mt-sm-0
                                                span.amenities__cost 99 999₽
                                    .card-b-block
                                        a.card-spoiler-full(href="service-cardiology.html")
                                        .row
                                            .col-12.col-sm-8
                                                span.amenities__name Прием (осмотр, консультация) врача-кардиолога повторный
                                            .col-12.col-sm-4.mt-3.mt-sm-0
                                                span.amenities__cost индивидуально
                                    .card-b-block
                                        a.card-spoiler-full(href="service-cardiology.html")
                                        .row
                                            .col-12.col-sm-8
                                                span.amenities__name Прием, консультация врача-специалиста к.м.н.
                                            .col-12.col-sm-4.mt-3.mt-sm-0
                                                span.amenities__cost 2 500₽
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>



        include components/ask-form






block footer
    include layout/footer