extends layout/layout
include mixins/banner

block head
    - var title = 'Услуги и цены';
    - var pageId = 2;

block header
    include layout/header

block content
    main
        .page-wrapper.container-fluid
          .breadcrumbs(itemscope="" itemtype="http://schema.org/BreadcrumbList")
            span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
              a(itemprop="item" href="/") главная
                meta(itemprop="name" content="Главная")
                meta(itemprop="position" content="1")
            span /
            span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
              a(itemprop="item" href="price.html") услуги и цены
                meta(itemprop="name" content="Услуги и цены")
                meta(itemprop="position" content="2")


          .amenities
              .wrap-950_pd
                  .wrap-950
                      h1.title.title_gray Услуги и цены
                      hr.title__hr.title__hr_width


                      +banner(
                          'img/name-service.jpg',
                          'патронаж',
                          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque viverra semper nunc pellentesque euismod. Arcu ultricies non vel elit. Текст не более трех строк',
                          'name-service-patronage.html'
                      )


                      .amenities__description
                          p Здесь представлены цены нашего клинического обслуживания, патронаж рассчитывается индивидуально, звоните!


                      #accordionExample.accordion
                          .card-spoiler
                            .card-b
                              #headingOne.card-b-header
                                h5.mb-0
                                  a(href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne") Диагностика
                                  a(href="#" class="plus" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne")
                                  a(href="#" class="card-spoiler-full" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne")
                              #collapseOne.collapse(aria-labelledby="headingOne" data-parent="#accordionExample")
                                .card-b-body
                                  .card-b-block.card-b-block_more
                                      .row
                                          .col.d-flex
                                              a.amenities__more(href='name-service-cardiology.html') Подробнее о направлении
                                  .card-b-block
                                      a.card-spoiler-full(href="service-cardiology.html")
                                      .row
                                          .col-8
                                              span.amenities__name Прием (осмотр, консультация) врача-кардиолога первичный
                                          .col-4.mt-1.mt-sm-0
                                              span.amenities__cost 1 500₽
                                  .card-b-block
                                      a.card-spoiler-full(href="service-cardiology.html")
                                      .row
                                          .col-8
                                              span.amenities__name Прием (осмотр, консультация) врача-кардиолога повторный
                                          .col-4.mt-1.mt-sm-0
                                              span.amenities__cost 1 200₽
                                  .card-b-block
                                      a.card-spoiler-full(href="service-cardiology.html")
                                      .row
                                          .col-8.col-sm-8
                                              span.amenities__name Прием, консультация врача-специалиста к.м.н.
                                          .col-4.mt-1.mt-sm-0
                                              span.amenities__cost 2 500₽

                          .card-spoiler
                            .card-b
                              #headingTwo.card-b-header
                                h5.mb-0
                                  a(href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo") Кардиология
                                  a(href="#" class="plus" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
                                  a(href="#" class="card-spoiler-full" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
                              #collapseTwo.collapse(aria-labelledby="headingTwo" data-parent="#accordionExample")
                                .card-b-body
                                  .card-b-block.card-b-block_more
                                      .row
                                          .col.d-flex
                                              a.amenities__more(href='name-service-cardiology.html') Подробнее о направлении
                                  .card-b-block
                                      a.card-spoiler-full(href="service-cardiology.html")
                                      .row
                                          .col-8
                                              span.amenities__name Прием (осмотр, консультация) врача-кардиолога первичный
                                          .col-4.mt-1.mt-sm-0
                                              span.amenities__cost 1 500₽
                                  .card-b-block
                                      a.card-spoiler-full(href="service-cardiology.html")
                                      .row
                                          .col-8
                                              span.amenities__name Прием (осмотр, консультация) врача-кардиолога повторный
                                          .col-4.mt-1.mt-sm-0
                                              span.amenities__cost 1 200₽
                                  .card-b-block
                                      a.card-spoiler-full(href="service-cardiology.html")
                                      .row
                                          .col-8
                                              span.amenities__name Прием, консультация врача-специалиста к.м.н.
                                          .col-4.mt-1.mt-sm-0
                                              span.amenities__cost индивидуально

                          .card-spoiler
                            .card-b
                              #headingThree.card-b-header
                                h5.mb-0
                                  a(href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree") Андрология
                                  a(href="#" class="plus" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree")
                                  a(href="#" class="card-spoiler-full" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree")

                              #collapseThree.collapse(aria-labelledby="headingThree" data-parent="#accordionExample")
                                .card-b-body
                                  .card-b-block.card-b-block_more
                                      .row
                                          .col.d-flex
                                              a.amenities__more(href='name-service-cardiology.html') Подробнее о направлении
                                  .card-b-block
                                      a.card-spoiler-full(href="service-cardiology.html")
                                      .row
                                          .col-8
                                              span.amenities__name Прием (осмотр, консультация) врача-кардиолога первичный
                                          .col-4.mt-1.mt-sm-0
                                              span.amenities__cost 2 500₽
                                  .card-b-block
                                      a.card-spoiler-full(href="service-cardiology.html")
                                      .row
                                          .col-8
                                              span.amenities__name Прием (осмотр, консультация) врача-кардиолога повторный
                                          .col-4.mt-1.mt-sm-0
                                              span.amenities__cost 2 500₽
                                  .card-b-block
                                      a.card-spoiler-full(href="service-cardiology.html")
                                      .row
                                          .col-8
                                              span.amenities__name Прием, консультация врача-специалиста к.м.н.
                                          .col-4.mt-1.mt-sm-0
                                              span.amenities__cost 2 500₽



        include components/ask-form






block footer
    include layout/footer