extends layout/layout
include mixins/article

block head
    - var title = 'Программа вакцинации';
    - var pageId = 3;

block header
   include layout/header

block content
    main
        .page-wrapper.container-fluid
            .breadcrumbs
                a(href="index.html") главная
                span /
                a(href="programme.html") программы
                span /

            article.article
                +article(
                    'Программа вакцинации',
                    'img/vaccine.jpg',
                    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae proin purus erat cras. Consectetur purus euismod dignissim arcu. Phasellus dui, sagittis sit nunc. Faucibus morbi accumsan, amet lectus enim pulvinar eget urna quam. Ornare ac vivamus aliquet faucibus. Id venenatis, eget accumsan, diam amet amet, est. Faucibus nibh velit convallis ullamcorper neque leo ut. Nibh morbi volutpat ac in. Neque, est sed ornare lorem curabitur tincidunt. Tristique enim donec integer enim, ut quisque. Tincidunt quam facilisis ipsum, malesuada maecenas vulputate consequat. Mattis amet diam sem non ipsum consectetur eu. Leo, at libero pulvinar tortor a. Sed accumsan eleifend scelerisque cursus viverra.'
                )

            .wrap-950_pd
                .wrap-950
                    include components/appointment



            .price.price_margin
                .wrap-950_pd
                    .wrap-950
                        h2.title.title_gray.title_margin услуги входящие в программу
                        .price__table
                            .price__row
                                span Привики от свинки
                                span.price__cost 1 500₽
                                a.card-spoiler-full(href="service-cardiology.html")
                            .price__row
                                span Прививки от туберкулеза
                                span.price__cost 1 500₽
                                a.card-spoiler-full(href="service-cardiology.html")
                            .price__row
                                span Прививки от энцефалита
                                span.price__cost 1 500₽
                                a.card-spoiler-full(href="service-cardiology.html")
                            .price__row
                                span Привики от свинки
                                span.price__cost 1 500₽
                                a.card-spoiler-full(href="service-cardiology.html")
                            .price__row
                                span Прививки от туберкулеза
                                span.price__cost 1 500₽
                                a.card-spoiler-full(href="service-cardiology.html")
                            .price__row
                                span Прививки от энцефалита
                                span.price__cost 1 500₽
                                a.card-spoiler-full(href="service-cardiology.html")
                            .price__row
                                span Прием, консультация врача-специалиста к.м.н.
                                span.price__cost 1 500₽
                                a.card-spoiler-full(href="service-cardiology.html")

            
        include components/ask-form






block footer
  include layout/footer

