extends layout/layout
include mixins/cards
include mixins/banner

block head
    - var title = 'Программы';
    - var pageId = 3;

block header
    include layout/header

block content
    main
        .page-wrapper.container-fluid
            .breadcrumbs(itemscope="" itemtype="http://schema.org/BreadcrumbList")
                span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
                    a(itemprop="item" href="/") главная
                        meta(itemprop="name" content="Главная")
                        meta(itemprop="position" content="1")
                span /
                span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
                    a(itemprop="item" href="programme.html") программы
                        meta(itemprop="name" content="Программы")
                        meta(itemprop="position" content="2")


            .amenities
                .wrap-950_pd
                    .wrap-950
                        h2.title.title_gray Программы
                        hr.title__hr.title__hr_width


                        +banner-img-black-background(
                            'img/amenities.jpg',
                            'патронаж',
                            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque viverra semper nunc pellentesque euismod. Arcu ultricies non vel elit. Текст не более трех строк',
                            'name-service-patronage.html'
                        )

                        .amenities__description
                            p Здесь представлены цены нашего клинического обслуживания, патронаж рассчитывается индивидуально, звоните!


                        .programme
                            .articles.articles_mb
                                section.page-wrapper
                                    .articles_img.row
                                        - var time = 0;
                                        .col-md-6.col-12
                                            +article-img-new('img/article-img-2.jpg','вчера', 'Программа вакцинации', 'programme-vaccine.html')
                                        .col-md-6.col-12
                                            +article-img-new('img/article-img-1.jpg','21 июля', 'Check-up «К сердцу с любовью»', 'programme-vaccine.html')
                                        .col-md-6.col-12
                                            +article-img-new('img/article-img-2.jpg','вчера', 'Корпоративное обслуживание для юридических лиц', 'programme-vaccine.html')
                                        .col-md-6.col-12
                                            +article-img-new('img/article-img-1.jpg','21 июля', 'Check-up «К сердцу с любовью»', 'programme-vaccine.html')




        include components/ask-form



block footer
    include layout/footer