extends layout/layout
include mixins/cards

block head
    - var title = 'Рекомендации';
    - var pageId = 6;

block header
    include layout/header

block content
    main
        .page-wrapper.container-fluid
            .breadcrumbs(itemscope="" itemtype="http://schema.org/BreadcrumbList")
                span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
                    a(itemprop="item" href="/") главная
                        meta(itemprop="name" content="Главная")
                        meta(itemprop="position" content="1")
                span /
                span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
                    a(itemprop="item" href="recommendations.html") рекомендации
                        meta(itemprop="name" content="Рекомендации")
                        meta(itemprop="position" content="2")


            .recommendations.recommendations_margin.container-fluid
                .wrap-max
                    h1.title.title_gray Рекомендации
                    hr.title__hr

                    .row
                        .col-12
                            .card.card_horizontal.card_horizontal_margin
                                .card__img.card__img_grayscale
                                    img(src='img/article-img-1.jpg' alt="Обложка статьи")
                                .card__description
                                    h3.card__title(data-dotdotdot="article-img") «Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности'
                                    span.card__link читать
                                    a(href='recommendation-article.html').card__link_full
                        .col-12
                            .card.card_horizontal.card_horizontal_margin
                                .card__img.card__img_grayscale
                                    img(src='img/article-img-2.jpg' alt="Обложка статьи")
                                .card__description
                                    h3.card__title(data-dotdotdot="article-img") «Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности'
                                    span.card__link читать
                                    a(href='recommendation-article.html').card__link_full
                        .col-12
                            .card.card_horizontal.card_horizontal_margin
                                .card__img.card__img_grayscale
                                    img(src='img/article-img-2.jpg' alt="Обложка статьи")
                                .card__description
                                    h3.card__title(data-dotdotdot="article-img") «Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности'
                                    span.card__link читать
                                    a(href='recommendation-article.html').card__link_full
                        .col-12
                            .card.card_horizontal.card_horizontal_margin
                                .card__img.card__img_grayscale
                                    img(src='img/article-img-2.jpg' alt="Обложка статьи")
                                .card__description
                                    h3.card__title(data-dotdotdot="article-img") «Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности'
                                    span.card__link читать
                                    a(href='recommendation-article.html').card__link_full


                .wrap-max.recommendations__pagination_margin
                    include components/pagination








block footer
    include layout/footer