extends layout/layout
include mixins/cards

block head
    - var title = 'Рекомендации';
    - var pageId = 4;

block header
    include layout/header

block content
    main
        .page-wrapper.container-fluid
            .breadcrumbs
                a(href="index.html") главная
                span /
                span рекомендации


            .recommendations.recommendations_margin.container-fluid
                .wrap-950_pd
                    .wrap-950
                        h2.title.title_gray Рекомендации
                        hr.title__hr

                        .row
                            .col-12
                                .card.card_horizontal.card_horizontal_margin
                                    img.card__img(src='img/article-img-1.jpg')
                                    .card__description
                                        h3.card__title(data-dotdotdot="article-img") «Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности'
                                        span.card__link читать
                                        a(href='recommendation-article.html').card__link_full
                            .col-12
                                .card.card_horizontal.card_horizontal_margin
                                    img.card__img(src='img/article-img-2.jpg')
                                    .card__description
                                        h3.card__title(data-dotdotdot="article-img") «Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности'
                                        span.card__link читать
                                        a(href='recommendation-article.html').card__link_full
                            .col-12
                                .card.card_horizontal.card_horizontal_margin
                                    img.card__img(src='img/article-img-2.jpg')
                                    .card__description
                                        h3.card__title(data-dotdotdot="article-img") «Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности'
                                        span.card__link читать
                                        a(href='recommendation-article.html').card__link_full
                            .col-12
                                .card.card_horizontal.card_horizontal_margin
                                    img.card__img(src='img/article-img-2.jpg')
                                    .card__description
                                        h3.card__title(data-dotdotdot="article-img") «Можно быть пожилым в 50 лет и молодым — в 90»: главный гериатр Минздрава о долгожителях и причинах мужской смертности'
                                        span.card__link читать
                                        a(href='recommendation-article.html').card__link_full


                .wrap-950_pd.recommendations__pagination_margin
                    .wrap-950
                        include components/pagination

        include components/ask-form






block footer
    include layout/footer