extends layout/layout
include mixins/cards

block head
    - var title = 'Поиск';

block header
   include layout/header

block content
    main
        .page-wrapper.container-fluid
            .breadcrumbs
                a(href="index.html") главная
                span /
                span поиск

            .wrap-950_pd
                .wrap-950
                    h2.title.title_gray Поиск
                    hr.title__hr.title__hr_margin

            .search.search_mb
                .wrap-950_pd
                    .wrap-950
                        .form-inline_wrap
                            form.form-inline.form-inline_margin-right(id="form-search")
                                input.form-control.form-control_no-border.flex-grow-1.pl-sm-4(type="search" placeholder="введите поисковый запрос" aria-label="Search")
                                button.btn.btn-search.btn-search_left(type="submit")
                            form.form-inline
                                .select
                                    select
                                        option(disabled selected) выбрать раздел сайта
                                        option все разделы сайта
                                        option направление 1
                                        option направление 2
                                        option направление 3
                                        option направление 4
                            span.button-second найти

                        hr.our-specialist__hr


                .wrap-950_pd
                    .wrap-950.d-flex.flex-column

                        span.search__result-text по запросу «Кардиолог» найдено 25 результатов

                        .all-result
                            .result__wrap(data-index="direction-1" data-amenities-item="cardiology" data-card)
                                .result__names
                                    h5.result__name Кардиология
                                .result__text
                                    p <span class="result__words">Кардиолог</span> клиники сотрудничает с кардиохирургическими отделениями Москвы и некоторыми европейскими клиниками и направляет нуждающихся клиентов на хирургическое лечение ишемической болезни сердца ...
                                a.tags.tags_mt(href="search-result.html") #направления
                            .result__wrap(data-index="direction-2" data-amenities-item="cardiology" data-card)
                                .result__names
                                    h5.result__name Мустафьев Омар Равиольевич
                                .result__text
                                    p <span class="result__words">Кардиолог</span>
                                a.tags.tags_mt(href="search-result.html") #специалисты
                            .result__wrap(data-index="direction-1" data-amenities-item="amenities-4" data-card)
                                .result__names
                                    h5.result__name В России произойдет массовое лечение сердца в разных регионах
                                .result__text
                                    p ... например, гастроэнтеролог, <span class="result__words">кардиолог</span> или дерматовенеролог). Для каждого больного разрабатывается комплексный курс лечения, включающий в себя как психотерапию, так ...
                                a.tags.tags_mt(href="search-result.html") #статьи
                            .result__wrap(data-index="direction-3" data-amenities-item="amenities-4" data-card)
                                .result__names
                                    h5.result__name В России произойдет массовое лечение сердца в разных регионах
                                .result__text
                                    p ... например, гастроэнтеролог, <span class="result__words">кардиолог</span> или дерматовенеролог). Для каждого больного разрабатывается комплексный курс лечения, включающий в себя как психотерапию, так ...
                                a.tags.tags_mt(href="search-result.html") #статьи
                            .result__wrap(data-index="direction-3" data-amenities-item="amenities-4" data-card)
                                .result__names
                                    h5.result__name Мустафьев Омар Равиольевич
                                .result__text
                                    p <span class="result__words">Кардиолог</span>
                                a.tags.tags_mt(href="search-result.html") #специалисты


                .wrap-950_pd.recommendations__pagination_margin_70
                    .wrap-950
                        include components/pagination


        include components/ask-form




block footer
  include layout/footer

