extends layout/layout
include mixins/cards

block head
    - var title = 'Поиск';

block header
   include layout/header

block content
    main
        .page-wrapper.container-fluid
            .breadcrumbs
                a(href="index.html") главная
                span /
                span поиск

            .wrap-950_pd
                .wrap-950
                    h2.title.title_gray Поиск
                    hr.title__hr.title__hr_margin

            .search
                .wrap-950_pd
                    .wrap-950
                        .form-inline_wrap
                            form.form-inline.form-inline_margin-right(id="form-search")
                                input.form-control.form-control_no-border.flex-grow-1.pl-sm-4(type="search" placeholder="введите поисковый запрос" aria-label="Search")
                                button.btn.btn-search.btn-search_left(type="submit")
                            form.form-inline
                                .select
                                    select
                                        option(disabled selected) выбрать раздел сайта
                                        option все разделы сайта
                                        option направление 1
                                        option направление 2
                                        option направление 3
                                        option направление 4
                            button.button-second(form="form-search") найти

                        hr.our-specialist__hr


        include components/ask-form




block footer
  include layout/footer

