extends layout/layout
include mixins/article

block head
    - var title = 'Услуга патронажа';
    - var pageId = 2;

block header
    include layout/header

block content
    main
        .page-wrapper.container-fluid.amenities-name
            .breadcrumbs
                a(href="index.html") главная
                span /
                a(href="price.html") услуги и цены
                span /
                a(href="name-service-patronage.html") патронаж
                span /

            article.article
                +article(
                'услуга патронажа',
                '',
                'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae proin purus erat cras. Consectetur purus euismod dignissim arcu. Phasellus dui, sagittis sit nunc. Faucibus morbi accumsan, amet lectus enim pulvinar eget urna quam. Ornare ac vivamus aliquet faucibus. Id venenatis, eget accumsan, diam amet amet, est. Faucibus nibh velit convallis ullamcorper neque leo ut. Nibh morbi volutpat ac in. Neque, est sed ornare lorem curabitur tincidunt. Tristique enim donec integer enim, ut quisque. Tincidunt quam facilisis ipsum, malesuada maecenas vulputate consequat. Mattis amet diam sem non ipsum consectetur eu. Leo, at libero pulvinar tortor a. Sed accumsan eleifend scelerisque cursus viverra. Condimentum sagittis in id magna cursus arcu potenti. Habitasse accumsan, a ac nisi mattis ut ornare id. Tempus magna cursus elit leo lacinia. Quis quis tincidunt viverra elementum. Viverra ultrices nullam quam sit sit amet nunc, pretium potenti. A id adipiscing at orci.'
                )

            .wrap-950_pd
                .wrap-950
                    h2.title.title_gray.title_margin индивидуально

                    - var doctor = 1;
                    include components/appointment


        include components/ask-form






block footer
    include layout/footer

