extends layout/layout
include mixins/article

block head
  - var title = 'Прием (осмотр, консультация) врача-кардиолога первичный';
  - var pageId = 2;

block header
  include layout/header

block content
  main
    .page-wrapper.container-fluid.amenities-name
      .breadcrumbs(itemscope="" itemtype="http://schema.org/BreadcrumbList")
        span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
          a(itemprop="item" href="/") главная
            meta(itemprop="name" content="Главная")
            meta(itemprop="position" content="1")
        span /
        span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
          a(itemprop="item" href="price.html") услуги и цены
            meta(itemprop="name" content="Услуги и цены")
            meta(itemprop="position" content="2")
        span /
        span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
          a(itemprop="item" href="name-service-cardiology.html") кардиология
            meta(itemprop="name" content="Кардиология")
            meta(itemprop="position" content="3")
        span /

      article.article
        +article(
        'Прием (осмотр, консультация) врача-кардиолога первичный',
        '',
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae proin purus erat cras. Consectetur purus euismod dignissim arcu. Phasellus dui, sagittis sit nunc. Faucibus morbi accumsan, amet lectus enim pulvinar eget urna quam. Ornare ac vivamus aliquet faucibus. Id venenatis, eget accumsan, diam amet amet, est. Faucibus nibh velit convallis ullamcorper neque leo ut. Nibh morbi volutpat ac in. Neque, est sed ornare lorem curabitur tincidunt. Tristique enim donec integer enim, ut quisque. Tincidunt quam facilisis ipsum, malesuada maecenas vulputate consequat. Mattis amet diam sem non ipsum consectetur eu. Leo, at libero pulvinar tortor a. Sed accumsan eleifend scelerisque cursus viverra. Condimentum sagittis in id magna cursus arcu potenti. Habitasse accumsan, a ac nisi mattis ut ornare id. Tempus magna cursus elit leo lacinia. Quis quis tincidunt viverra elementum. Viverra ultrices nullam quam sit sit amet nunc, pretium potenti. A id adipiscing at orci.'
        )

      include components/advantages

      include components/different

      .price-block
        .price-block__text Cтоимость: от 6 650 руб.
        .price-block__alert вызов осуществляется с 6:00 до 17:00<br>вы получите ответ в течении 10 минут
        a.popup-with-form.no-opacity.btn.btn-sm.lign-middle.button-first(href="#form-popup") Вызов врача


      .price.price_mb
        h2.title.title_gray.title_margin Другие услуги кардиологии
        .price__table
          a.price__row(href="name-service-cardiology.html")
            span Прием (осмотр, консультация) врача-кардиолога первичный
            span.price__cost 1 500₽
          a.price__row(href="name-service-cardiology.html")
            span Прием (осмотр, консультация) врача-кардиолога повторный
            span.price__cost 1 500₽
          a.price__row(href="name-service-cardiology.html")
            span Прием, консультация врача специалиста к.м.н.
            span.price__cost 1 500₽
          a.price__row(href="name-service-cardiology.html")
            span Прием, консультация врача специалиста к.м.н.
            span.price__cost 1 500₽
          a.price__row(href="name-service-cardiology.html")
            span Прием, консультация врача специалиста к.м.н.
            span.price__cost 1 500₽










block footer
  include layout/footer

