extends layout/layout
include mixins/article

block head
    - var title = 'Программа вакцинации';
    - var pageId = 5;

block header
   include layout/header

block content
    main
        .page-wrapper.container-fluid
            .breadcrumbs(itemscope="" itemtype="http://schema.org/BreadcrumbList")
                span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
                    a(itemprop="item" href="/") главная
                        meta(itemprop="name" content="Главная")
                        meta(itemprop="position" content="1")
                span /
                span(itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem")
                    a(itemprop="item" href="stock.html") акции
                        meta(itemprop="name" content="Акции")
                        meta(itemprop="position" content="2")
                span /

            article.article
                +article-color(
                    'скидки на день рождения — подарите себе здоровье!',
                    'img/vaccine.jpg',
                    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae proin purus erat cras. Consectetur purus euismod dignissim arcu. Phasellus dui, sagittis sit nunc. Faucibus morbi accumsan, amet lectus enim pulvinar eget urna quam. Ornare ac vivamus aliquet faucibus. Id venenatis, eget accumsan, diam amet amet, est. Faucibus nibh velit convallis ullamcorper neque leo ut. Nibh morbi volutpat ac in. Neque, est sed ornare lorem curabitur tincidunt. Tristique enim donec integer enim, ut quisque. Tincidunt quam facilisis ipsum, malesuada maecenas vulputate consequat. Mattis amet diam sem non ipsum consectetur eu. Leo, at libero pulvinar tortor a. Sed accumsan eleifend scelerisque cursus viverra.'
                )

            .wrap-950_pd
                .wrap-950
                    include components/appointment

            
        include components/ask-form






block footer
  include layout/footer

