.appointment {
  display: flex;
  flex-direction: column;

  &_margin-bottom {
    margin-bottom: 40px;
  }
  
  &__link {
    display: inline-block;
    font-weight: normal;
    font-size: 18px;

    &_color {
      color: #679100;
    }

    &_margin-bottom {
      margin-bottom: 33px;
    }
  }

  &__wrap {
    flex: 0 0 auto;
  }
}

@media (max-width: 768px) {
  .appointment {

    &_margin-bottom {
      margin-bottom: 60px;
    }
  }
}