.full-wrap.full-wrap_bt
  .page-wrapper
    footer.footer
      .container-fluid
        .row
          .col-12.col-md-8
            .footer-info
              include ../components/logo
              ul.nav
                li.nav-item
                  a.nav-link(href="about-us.html")
                    h3 О клинике
                li.nav-item
                  a.nav-link(href="price.html")
                    h3 Услуги и цены
                li.nav-item
                  a.nav-link(href="programme.html")
                    h3 Программы
                li.nav-item
                  a.nav-link(href="our-specialist.html")
                    h3 Врачи
                li.nav-item
                  a.nav-link(href="stock.html")
                    h3 Акции
                li.nav-item
                  a.nav-link(href="articles-health.html")
                    h3 Статьи
                li.nav-item
                  a.nav-link(href="feedback.html")
                    h3 Отзывы
                li.nav-item
                  a.nav-link(href="contact.html")
                    h3 Контакты
              p.footer-info__text-block Сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями ч. 2 ст. 437 Гражданского кодекса РФ. Чтобы получить подробную информации о стоимости услуг, обращайтесь, пожалуйста, к администраторам клиники.
          .col-12.col-md-4.col-lg-3.block-border-top
            .contacts-wrap
              .contacts
                h4.contacts__title Контакты
                a.contacts__address(href="contact.html") Россия, Москва, Открытое шоссе, д. 48, стр. 2
                a.contacts__email(href="mailto:geromedicina@mail.ru") geromedicina@mail.ru
                a.contacts__number(href="tel:88002000000") 8 800 200 00 00
                a.contacts__number(href="tel:88002000000") 8 800 200 00 00
                .social-links
                  a.social-link.social-link_youtube(href="#")
                  a.social-link.social-link_vk(href="#")
                  a.social-link.social-link_fb(href="#")
                  a.social-link.social-link_ok(href="#")