@import "components/fonts";
@import "components/buttons";
@import "components/breadcrumbs";
@import "components/article";
@import "components/pagination";
@import "components/map";
@import "components/ask-form";
@import "components/comments";
@import "components/title";
@import "components/appointment";
@import "components/specialist";
@import "components/datepicker";
@import "layout/header";
@import "layout/footer";
@import "components/cards";
@import "pages/index";
@import "pages/about-us";
@import "pages/doctor-profile";
@import "pages/price";
@import "pages/recommendations";
@import "pages/programme";
@import "pages/404";

html,
body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #434343;
}

.popup-view {
  min-height: 100vh;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.no-opacity {
  opacity: 1 !important;
}

.link_full {
  width: 100%;
  height: 100%;
  content: '.';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.page-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  cursor: pointer;
  color: #434343;

  &:hover {
    color: #434343;
    opacity: 0.6;
    text-decoration: none;
  }

  &:active {
    border: 0;
  }
}

.form-inline {
  position: relative;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;

  &_wrap {
    display: flex;

    & .form-inline {
      flex-shrink: 1;

      &:last-child {
        flex-shrink: 30;
      }
    }
  }

  &_margin-left {
    margin-left: -2px;
  }

  &_margin-right {
    margin-right: auto;
  }

  & .select {
    position: relative;
    width: 100%;

    &::after {
      content: '';
      z-index: -1;
      position: absolute;
      top: 50%;
      bottom: 50%;
      margin-top: -5px;
      right: 10px;
      border: 0;
      width: 25px;
      height: 12px;
      background: url("../svg/arrow-down.svg") no-repeat;
      background-size: contain;
    }
  }

  & select {
    background: transparent;
    font-weight: 600;
    width: 100%;
    height: 50px;
    border: 2px solid #E9EFE8;
    padding: 12px 50px 12px 30px;
    appearance: none;
  }

  & [type=search] {
    width: 100%;
    text-align: right;
    padding-right: 40px;
  }

  .form-control_no-border {
    border: 0;
  }
}

.our-specialist__hr {
  width: 100%;
  margin-top: -2px;
  border: 0;
  height: 2px;
  background: #E9EFE8;
  margin-bottom: 40px;
}

.our-specialist_margin {
  margin-top: 40px;
  margin-bottom: 60px;
}



.docs {
  margin-bottom: 230px;
}

.doc {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  position: relative;
  min-height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items:center;

  &:first-child {
    margin-top: 0;
  }

  &__pic {
    min-width: 25%;
    max-width: 25%;
    height: 100px;
    background: url("../svg/doc.svg") 0 50%/contain no-repeat;
  }

  &__text {
    padding-left: 30px;
    font-weight: normal;
    font-size: 18px;
    line-height: 164%;
  }

  & a {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.all-contacts {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .contacts__title {
    max-width: 300px;
    margin-bottom: 20px;
  }

  .contacts {
    margin-right: 90px;

    &:last-child {
      margin-right: 0;
    }

    &__number {
      margin-bottom: 15px;
    }

    span:last-of-type {
      margin-bottom: 35px;
    }
  }
}

.mb-200-60 {
  margin-bottom: 200px;
}

.search {
  margin-top: 40px;
  margin-bottom: 160px;

  &_mb {
    margin-bottom: 135px;
  }

  & input::placeholder {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }

  & .button-second {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -2px;
  }

  &__result-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 164%;
    margin-bottom: 15px;
  }
}

.search [type="search"]:focus + .btn-search_left[type="submit"] {
  display: none;
}

.all-result {
}

.result {

  &_margin {
    margin-bottom: 130px;
  }

  &__wrap {
    margin-top: 60px;
    padding-bottom: 50px;
    border-bottom: 2px solid #E9EFE8;

    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }

  &__names {
    min-width: 185px;
  }

  &__name {
    color: #434343;
    font-weight: 600;
    margin-bottom: 0;

    &:hover {
      opacity: 0.6;
    }
  }

  &__text {
    margin-top: 30px;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 164%;
  }

  &__words {
    color: #DA3E0D;
  }

  & .pagination-2 {
    border-top: 0;
  }
}

.tags {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #679100;
  display: inline-block;

  &_mt {
    margin-top: 35px;
  }
}

.amenities-name {

  .article p:last-child {
    margin-bottom: 40px;
  }

  .title_margin {
    margin-bottom: 40px;
  }
}


@media (min-width: 992px) {
  .form-inline {

    & [type=search] {
      height: calc(100% - 2px);
    }
  }
}


@media (max-width: 992px) {
  .mb-200-60 {
    margin-bottom: 60px;
  }
}

@media (max-width: 986px) {
  .all-contacts {
    padding-top: 0;
    justify-content: flex-start;

    .contacts {

      &:nth-child(2) {
        margin-right: 0;
      }

      &:last-child {
        margin-right: 115px;
      }
    }
  }
}


@media (max-width: 768px) {

  .all-contacts {
    .contacts__title {
      margin-top: 0;
    }
  }

  .search {
    margin-top: 60px;

    & .button-second {
      text-align: left;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: -2px;
      margin-left: 0;
    }
  }

  .form-inline .form-control_md_border-bottom {
    border-radius: 0;
    border-bottom: 2px solid #E9EFE8;
  }

  .docs {
    margin-bottom: 60px;
  }

  .doc {
    margin-bottom: 40px;
  }

  .form-inline {
    width: 100%;

    &_wrap {
      flex-direction: column;
    }

    &_margin-top {
      margin-top: -2px;
    }

    &_margin-left {
      margin-left: 0;
    }
  }

  .no-gutters-md {
    margin-right: 0;
    margin-left: 0;
  }

  .no-gutters-md>.col, .no-gutters-md>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
  }

  .our-specialist_margin {
    margin-top: 20px;
    margin-bottom: 80px;
  }
}

@media (max-width: 576px) {
  .search {

    & [type=search] {
      padding-left: 60px;
      padding-right: 5px;
    }
  }

  .result {

    &_margin {
      margin-bottom: 90px;
    }

    &__wrap {
      margin-top: 40px;
      padding-bottom: 35px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__text {
      margin-top: 20px;
    }
  }

  .tags_mt {
    margin-top: 24px;
  }

  .stock {

    .title {
      font-size: 18px;
    }
  }

  .amenities-name {

    .title_margin {
      margin-bottom: 40px;
    }
  }

  .all-contacts {

    .contacts:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: 576px) {
  .all-contacts {

    .contacts__title {
      min-height: 48px;
    }

    .contact_position {

      p {
        min-height: 21px;
      }
    }

    .contacts {
      min-width: 240px;
    }
  }
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0!important;
  outline-color: transparent!important;
  outline-width: 0!important;
  outline-style: none!important;
  box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
}

input:focus, textarea:focus, select:focus {
  outline: 0!important;
  outline-color: transparent!important;
  outline-width: 0!important;
  outline-style: none!important;
  box-shadow: inset 0 0 0 2px #679100 !important;
}

@media (max-height: 768px) and (min-width: 768px){
  .docs {
    margin-bottom: 70px;
  }

  .mb-200-60 {
    margin-bottom: 140px;
  }
}


/* Обертка для текстового редактора. Чтобы использовать - тексту из редактора добавьте обертку
с классом "wysiwig-content", а тегу body id="wysiwig-content" */

body#wysiwig-content .wysiwig-content * {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 164%;
  color: #434343;
}

@media (max-width: 768px) {
  body#wysiwig-content .wysiwig-content * {
    font-size: 16px;
  }
}