.advantages.advantages_no-padding
  .advantages__block
  .advantages__block-content
    h2.advantages__title Преимущества выбора клиники «геромедицина»
    .advantages__list.advantages__list_column
      .advantages__item.advantages__item_column
        .advantages__num 4
        .advantages__text Опытнейших кардиолога
      .advantages__item.advantages__item_column
        .advantages__num 20<span> лет</span>
        .advantages__text Средний стаж
      .advantages__item.advantages__item_column
        .advantages__num 10<span> мин</span>
        .advantages__text Среднее время обратной связи
      .advantages__item.advantages__item_column
        .advantages__num 30<span> мин</span>
        .advantages__text Среднее время приезда врача
  .advantages__block