.appointment.appointment_margin-bottom
    .appointment__link.appointment__link_margin-bottom.appointment__link_color Запишитесь на прием, выбрав клинику и удобное время!
    .appointment__wrap
        if doctor === 1
                a.popup-with-form.no-opacity.btn.btn-sm.lign-middle.button-first(href="#form-popup") вызов врача
        else
                a.popup-with-form.no-opacity.btn.btn-sm.lign-middle.button-first(href="#form-popup-appointment") запись на прием