.ask-form
    .page-wrapper.container-fluid
        .row
            .col-md-6.col-12
                .ask-form__title
                    h3.title.title_red.title_margin появились вопросы?<br>напишите нам и мы ответим
            .col-md-6.col-12
                .row.no-gutters
                    .col-12.col-xl-8
                        form.ask-form__form
                            input.ask-form__input(type="text" placeholder="ФИО" required)
                            input.ask-form__input(type="text" id="email" placeholder="E-mail" required pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})")
                            textarea.ask-form__textarea(placeholder="Комментарий" required)
                            button.button-second.button-second_white-border-no-top.button-second_width(type="submit") отправить
