.button-feedback
  a.link_full.no-opacity.popup-with-form(href="#form-popup-call-feedback")
.button-doctor-call
  a.link_full.no-opacity.popup-with-form(href="#form-popup")
.button-appointment
  a.link_full.no-opacity.popup-with-form(href="#form-popup-appointment")