section.comments.comments_margin

    if buttonChoose === 'on'
        .nav
            .nav.nav-tabs.swiper-second-pagination
                .button-second.button-second_border.button-second_active.slide-0(data-clinic) о клинике
                .button-second.button-second_border.slide-1(data-specialist) о специалистах
    .swiper-second(data-clinic-wrap)
        .swiper-wrapper
            .swiper-slide
                .comments__body
                    .comments__names
                        h5.comments__name Виктор
                        time(datetime="2011-11").comments__date 8 августа 2019
                    .comments__text(data-dotdotdot="comment")
                        p Всем доброго дня! Хочу поделиться нашей историей. У нашей бабушки (78 лет) сахарный диабет и куча сопутствующих болячек. Больницы она на дух не переносит, так как там ничего толком не объясняют, но за все ругают.  То много кушаете, то пропускаете прием лекарств и все назидательным тоном. Решила по просьбе бабушки поискать врачей на дом. Наткнулась на этот сайт и решила попробовать вызвать врача на дом. Врач приехал вовремя, в назначенный день. Все подробно рассказал, пояснил, что выезд на дом осуществляют разные специалисты, в зависимости от диагноза пациента. К нам приехал терапевт, но пообещал привлечь к лечению, при необходимости,  специалиста-эндокринолога.  Рассказал все про «хлебные единицы», про то, как их считать правильно и как питаться. Общением с врачом бабушка осталась довольна, и мы дали «добро» на составление программы лечения. Через пару дней приехала очень вежливая и внимательная медсестра, взяла все необходимые анализы и на следующий день вернулась уже с готовой и правильно составленной диетой, где все уже грамотно посчитано.  Медсестра бабушке очень понравилась! Она много слышала от подружек про всяких сиделок без специального образования, а тут именно специалист, которая знает, что делает, сама следит за приемом лекарств! Уже через неделю после начала программы лечения бабушка стала чувствовать себя намного лучше! Врачи и медсестры всегда на связи. Любую проблему решают оперативно и быстро! Короче, все понравилось и мы остались довольны! Большое спасибо врачам и медсестрам вашего центра!

            .swiper-slide
                .comments__body
                    .comments__names
                        h5.comments__name Оксана
                        time(datetime="2011-11").comments__date 14 августа 2015
                    .comments__text(data-dotdotdot="comment")
                        p Спасибо Клинике! Вечером понадобилась консультация уролога. Врач задержался на работе, чтобы дождаться пациента, не торопясь все объяснил

            .swiper-slide
                .comments__body
                    .comments__names
                        h5.comments__name Наталья
                        time(datetime="2011-11").comments__date 14 августа 2015
                    .comments__text(data-dotdotdot="comment")
                        p Спасибо Клинике! Вечером понадобилась консультация уролога. Врач задержался на работе, чтобы дождаться пациента, не торопясь все объяснил

            .swiper-slide
                .comments__body
                    .comments__names
                        h5.comments__name Маша
                        time(datetime="2011-11").comments__date 14 августа 2015
                    .comments__text(data-dotdotdot="comment")
                        p Спасибо Клинике! Вечером понадобилась консультация уролога. Врач задержался на работе, чтобы дождаться пациента, не торопясь все объяснил

            .swiper-slide
                .comments__body
                    .comments__names
                        h5.comments__name Света
                        time(datetime="2011-11").comments__date 14 августа 2015
                    .comments__text(data-dotdotdot="comment")
                        p Спасибо Клинике! Вечером понадобилась консультация уролога. Врач задержался на работе, чтобы дождаться пациента, не торопясь все объяснил

            .swiper-slide
                .comments__body
                    .comments__names
                        h5.comments__name Оля
                        time(datetime="2011-11").comments__date 14 августа 2015
                    .comments__text(data-dotdotdot="comment")
                        p Спасибо Клинике! Вечером понадобилась консультация уролога. Врач задержался на работе, чтобы дождаться пациента, не торопясь все объяснил

        nav
            .pagination-2.pagination-2_no-border
                .pagination__item.swiper-navigation-prev
                    .arrow
                        a.pagination__link.pagination__link_prew
                .pagination__item.arrow-right.swiper-navigation-next
                    .arrow
                        a.pagination__link.pagination__link_next
                button.btn.button-second.button-second_padding.button-second_order(onclick="location.href='feedback.html'") смотреть все




    if buttonChoose === 'on'
        .swiper-thrity.swiper_view_off(data-specialist-wrap)
            .swiper-wrapper
                .swiper-slide
                    .comments__body
                        .comments__names
                            h5.comments__name Виктор12
                            time(datetime="2011-11").comments__date 8 августа 2019
                        .comments__text(data-dotdotdot="comment")
                            p Спасибо Клинике! Вечером понадобилась консультация уролога. Врач задержался на работе, чтобы дождаться пациента, не торопясь все объяснил и провел диагностику. Помог принять правильное решение о госпитализации. Утром чувствовал себя намного лучше. Спасибо!

                .swiper-slide
                    .comments__body
                        .comments__names
                            h5.comments__name Оксана12
                            time(datetime="2011-11").comments__date 14 августа 2015
                        .comments__text(data-dotdotdot="comment")
                            p Спасибо Клинике! Вечером понадобилась консультация уролога. Врач задержался на работе, чтобы дождаться пациента, не торопясь все объяснил

                .swiper-slide
                    .comments__body
                        .comments__names
                            h5.comments__name Наталья12
                            time(datetime="2011-11").comments__date 14 августа 2015
                        .comments__text(data-dotdotdot="comment")
                            p Спасибо Клинике! Вечером понадобилась консультация уролога. Врач задержался на работе, чтобы дождаться пациента, не торопясь все объяснил

                .swiper-slide
                    .comments__body
                        .comments__names
                            h5.comments__name Маша12
                            time(datetime="2011-11").comments__date 14 августа 2015
                        .comments__text(data-dotdotdot="comment")
                            p Спасибо Клинике! Вечером понадобилась консультация уролога. Врач задержался на работе, чтобы дождаться пациента, не торопясь все объяснил

                .swiper-slide
                    .comments__body
                        .comments__names
                            h5.comments__name Света12
                            time(datetime="2011-11").comments__date 14 августа 2015
                        .comments__text(data-dotdotdot="comment")
                            p Спасибо Клинике! Вечером понадобилась консультация уролога. Врач задержался на работе, чтобы дождаться пациента, не торопясь все объяснил

                .swiper-slide
                    .comments__body
                        .comments__names
                            h5.comments__name Оля12
                            time(datetime="2011-11").comments__date 14 августа 2015
                        .comments__text(data-dotdotdot="comment")
                            p Спасибо Клинике! Вечером понадобилась консультация уролога. Врач задержался на работе, чтобы дождаться пациента, не торопясь все объяснил

            nav
                .pagination-2.pagination-2_no-border
                    .pagination__item.swiper-navigation-prev
                        .arrow
                            a.pagination__link.pagination__link_prew
                    .pagination__item.arrow-right.swiper-navigation-next
                        .arrow
                            a.pagination__link.pagination__link_next
                    button.btn.button-second.button-second_padding.button-second_order(onclick="location.href='feedback.html'") смотреть все