section.comments.comments_margin

    if buttonChoose === 'on'
        .nav
            .nav.nav-tabs.swiper-second-pagination
                .button-second.button-second_border.button-second_active.slide-0(data-clinic) о клинике
                .button-second.button-second_border.slide-1(data-specialist) о специалистах
    <div class="swiper-second" data-clinic-wrap>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                .comments__body
                    .comments__names
                        h5.comments__name Виктор
                        time(datetime="2011-11").comments__date 8 августа 2019
                    .comments__text
                        p Спасибо Клинике! Вечером понадобилась консультация уролога. Врач задержался на работе, чтобы дождаться пациента, не торопясь все объяснил и провел диагностику. Помог принять правильное решение о госпитализации. Утром чувствовал себя намного лучше. Спасибо!

            </div>
            <div class="swiper-slide">
                .comments__body
                    .comments__names
                        h5.comments__name Оксана
                        time(datetime="2011-11").comments__date 14 августа 2015
                    .comments__text
                        p Спасибо Клинике! Вечером понадобилась консультация уролога. Врач задержался на работе, чтобы дождаться пациента, не торопясь все объяснил

            </div>
            <div class="swiper-slide">
            .comments__body
                .comments__names
                    h5.comments__name Наталья
                    time(datetime="2011-11").comments__date 14 августа 2015
                .comments__text
                    p Спасибо Клинике! Вечером понадобилась консультация уролога. Врач задержался на работе, чтобы дождаться пациента, не торопясь все объяснил

            </div>
            <div class="swiper-slide">
            .comments__body
                .comments__names
                    h5.comments__name Маша
                    time(datetime="2011-11").comments__date 14 августа 2015
                .comments__text
                    p Спасибо Клинике! Вечером понадобилась консультация уролога. Врач задержался на работе, чтобы дождаться пациента, не торопясь все объяснил

            </div>
            <div class="swiper-slide">
            .comments__body
                .comments__names
                    h5.comments__name Света
                    time(datetime="2011-11").comments__date 14 августа 2015
                .comments__text
                    p Спасибо Клинике! Вечером понадобилась консультация уролога. Врач задержался на работе, чтобы дождаться пациента, не торопясь все объяснил

            </div>
            <div class="swiper-slide">
            .comments__body
                .comments__names
                    h5.comments__name Оля
                    time(datetime="2011-11").comments__date 14 августа 2015
                .comments__text
                    p Спасибо Клинике! Вечером понадобилась консультация уролога. Врач задержался на работе, чтобы дождаться пациента, не торопясь все объяснил

            </div>
        </div>
        nav
            .pagination-2.pagination-2_no-border
                .pagination__item.swiper-navigation-prev
                    .arrow
                        a.pagination__link.pagination__link_prew
                .pagination__item.arrow-right.swiper-navigation-next
                    .arrow
                        a.pagination__link.pagination__link_next
                button.btn.button-second.button-second_padding.button-second_order(onclick="location.href='feedback.html'") смотреть все

    </div>




    if buttonChoose === 'on'
        <div class="swiper-thrity swiper_view_off" data-specialist-wrap>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    .comments__body
                        .comments__names
                            h5.comments__name Виктор12
                            time(datetime="2011-11").comments__date 8 августа 2019
                        .comments__text
                            p Спасибо Клинике! Вечером понадобилась консультация уролога. Врач задержался на работе, чтобы дождаться пациента, не торопясь все объяснил и провел диагностику. Помог принять правильное решение о госпитализации. Утром чувствовал себя намного лучше. Спасибо!

                </div>
                <div class="swiper-slide">
                    .comments__body
                        .comments__names
                            h5.comments__name Оксана12
                            time(datetime="2011-11").comments__date 14 августа 2015
                        .comments__text
                            p Спасибо Клинике! Вечером понадобилась консультация уролога. Врач задержался на работе, чтобы дождаться пациента, не торопясь все объяснил

                </div>
                <div class="swiper-slide">
                .comments__body
                    .comments__names
                        h5.comments__name Наталья12
                        time(datetime="2011-11").comments__date 14 августа 2015
                    .comments__text
                        p Спасибо Клинике! Вечером понадобилась консультация уролога. Врач задержался на работе, чтобы дождаться пациента, не торопясь все объяснил

                </div>
                <div class="swiper-slide">
                .comments__body
                    .comments__names
                        h5.comments__name Маша12
                        time(datetime="2011-11").comments__date 14 августа 2015
                    .comments__text
                        p Спасибо Клинике! Вечером понадобилась консультация уролога. Врач задержался на работе, чтобы дождаться пациента, не торопясь все объяснил

                </div>
                <div class="swiper-slide">
                .comments__body
                    .comments__names
                        h5.comments__name Света12
                        time(datetime="2011-11").comments__date 14 августа 2015
                    .comments__text
                        p Спасибо Клинике! Вечером понадобилась консультация уролога. Врач задержался на работе, чтобы дождаться пациента, не торопясь все объяснил

                </div>
                <div class="swiper-slide">
                .comments__body
                    .comments__names
                        h5.comments__name Оля12
                        time(datetime="2011-11").comments__date 14 августа 2015
                    .comments__text
                        p Спасибо Клинике! Вечером понадобилась консультация уролога. Врач задержался на работе, чтобы дождаться пациента, не торопясь все объяснил

                </div>
            </div>
            nav
                .pagination-2.pagination-2_no-border
                    .pagination__item.swiper-navigation-prev
                        .arrow
                            a.pagination__link.pagination__link_prew
                    .pagination__item.arrow-right.swiper-navigation-next
                        .arrow
                            a.pagination__link.pagination__link_next
                    button.btn.button-second.button-second_padding.button-second_order(onclick="location.href='feedback.html'") смотреть все

        </div>