.map.map_margin
  .page-wrapper.container-fluid
    .row.w-100.no-gutters
      .col-12.col-md-6
        .map__description
          h3.title.title_margin где нас найти?
          .map__text
            p ООО «Клиника для детей и взрослых на Открытом шоссе»<br>Россия, Москва, Открытое шоссе, д. 48, стр. 2
      .col-12.col-md-6
        .map__img
          <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae68f42cb23099a3be9a721c0a4dfc5fcc502100375ac00c6941008c9172c0c87&amp;lang=ru_RU&amp;scroll=true"></script>