.desktop-menu
    ul.nav.align-items-center
        li.nav-item.dropdown
            if pageId === 1
                a.nav-link.nav-link_active.dropdown-toggle(href="about-us.html" id="navbarDropdownMenuLinkClinic" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") о клинике
            else
                a.nav-link.dropdown-toggle(href="about-us.html" id="navbarDropdownMenuLinkClinic" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") о клинике
            .dropdown-menu(aria-labelledby="navbarDropdownMenuLinkClinic")
                a.dropdown-item(href="about-us.html") информация о клинике
                a.dropdown-item(href="docs.html") лицензия и документы
                a.dropdown-item(href="legal-information.html") правовая информация
        li.nav-item.dropdown
            if pageId === 2
                a.nav-link.nav-link_active.dropdown-toggle(href="price.html" id="navbarDropdownMenuLinkPrise" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") услуги и цены
            else
                a.nav-link.dropdown-toggle(href="price.html" id="navbarDropdownMenuLinkPrise" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") услуги и цены
            .dropdown-menu(aria-labelledby="navbarDropdownMenuLinkPrise")
                a.dropdown-item(href="price.html") услуги и цены
                a.dropdown-item(href="name-service-patronage.html") патронаж
        li.nav-item
            a.nav-link(href="#") программы
        li.nav-item
            if pageId === 3
                a.nav-link.nav-link_active(href="our-specialist.html") специалисты
            else
                a.nav-link(href="our-specialist.html") специалисты
        li.nav-item
            a.nav-link(href="#") акции
        li.nav-item.dropdown
            if pageId === 4
                a.nav-link.nav-link_active.dropdown-toggle(href="articles-health.html" id="navbarDropdownMenuLinkArticle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") статьи
            else
                a.nav-link.dropdown-toggle(href="articles-health.html" id="navbarDropdownMenuLinkArticle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") статьи
            .dropdown-menu(aria-labelledby="navbarDropdownMenuLinkArticle")
                a.dropdown-item(href="articles-health.html") статьи о здоровье
                a.dropdown-item(href="recommendations.html") рекомендации
        li.nav-item
            if pageId === 5
                a.nav-link.nav-link_active(href="feedback.html") отзывы
            else
                a.nav-link(href="feedback.html") отзывы
        li.nav-item
            if pageId === 6
                a.nav-link.nav-link_active(href="contact.html") контакты
            else
                a.nav-link(href="contact.html") контакты
    include button-call