.mobil-menu
    form.form-inline
        input.form-control.flex-grow-1(type="search" placeholder="поиск" aria-label="Search")
        button.btn.btn-search(type="submit")
    ul.nav.flex-column
        li.nav-item
            a.nav-link.nav-link_cabinet(href="#") личный кабинет
        li.nav-item
            a.nav-link.nav-link_comment.popup-with-form(href="#form-popup-feedback") оставить отзыв
    .d-sm-flex
        button.btn.btn-sm.lign-middle.button-second.w-100 вызов врача
            a.no-opacity.link_full.popup-with-form(href="#form-popup")
        button.btn.btn-sm.lign-middle.button-first.w-100 запись на прием
            a.no-opacity.link_full.popup-with-form(href="#form-popup-appointment")
    ul.nav.navbar-nav
        li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="about-us.html" id="navbarDropdownMenuLinkClinic" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") о клинике
            .dropdown-menu(aria-labelledby="navbarDropdownMenuLinkClinic")
                a.dropdown-item(href="about-us.html") информация о клинике
                a.dropdown-item(href="docs.html") лицензия и документы
                a.dropdown-item(href="legal-information.html") правовая информация
        li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="price.html" id="navbarDropdownMenuLinkPrise" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") услуги и цены
            .dropdown-menu(aria-labelledby="navbarDropdownMenuLinkPrise")
                a.dropdown-item(href="price.html") услуги и цены
                a.dropdown-item(href="name-service-patronage.html") патронаж
        li.nav-item.nav-item
            a.nav-link(href="#") программы
        li.nav-item.nav-item
            a.nav-link(href="our-specialist.html") специалисты
        li.nav-item.nav-item
            a.nav-link(href="#") акции
        li.nav-item.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="articles-health.html" id="navbarDropdownMenuLinkArticle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") статьи
            .dropdown-menu(aria-labelledby="navbarDropdownMenuLinkArticle")
                a.dropdown-item(href="articles-health.html") статьи о здоровье
                a.dropdown-item(href="recommendations.html") рекомендации
        li.nav-item.nav-item
            a.nav-link(href="feedback.html") отзывы
        li.nav-item.nav-item
            a.nav-link(href="contact.html") контакты