.mobil-menu
    form.form-inline
        input.form-control.flex-grow-1(type="search" placeholder="Поиск" aria-label="Search")
        button.btn.btn-search(type="submit")
    ul.nav.flex-column
        li.nav-item
            a.nav-link.nav-link_cabinet(href="#") Личный кабинет
        li.nav-item
            a.nav-link.nav-link_comment.popup-with-form(href="#form-popup-feedback") Оставить отзыв
    .d-sm-flex.pl-3.pr-3.pl-sm-0.pr-sm-0
        a.no-opacity.popup-with-form.btn.btn-sm.lign-middle.button-second.w-100(href="#form-popup") Вызов врача
        a.no-opacity.popup-with-form.btn.btn-sm.lign-middle.button-first.w-100(href="#form-popup-appointment") Запись на прием
    ul.nav.navbar-nav
        li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="about-us.html" id="mobil-navbarDropdownMenuLinkClinic" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                h3 О клинике
            .dropdown-menu(aria-labelledby="mobil-navbarDropdownMenuLinkClinic")
                a.dropdown-item(href="about-us.html")
                    h3 Информация о клинике
                a.dropdown-item(href="docs.html")
                    h3 Лицензия и документы
                a.dropdown-item(href="legal-information.html")
                    h3 Правовая информация
        li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="price.html" id="mobil-navbarDropdownMenuLinkPrise" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                h3 Услуги и цены
            .dropdown-menu(aria-labelledby="mobil-navbarDropdownMenuLinkPrise")
                a.dropdown-item(href="price.html")
                    h3 Услуги и цены
                a.dropdown-item(href="name-service-patronage.html")
                    h3 Патронаж
        li.nav-item.nav-item
            a.nav-link(href="programme.html")
                h3 Программы
        li.nav-item.nav-item
            a.nav-link(href="our-specialist.html")
                h3 Специалисты
        li.nav-item.nav-item
            a.nav-link(href="stock.html")
                h3 Акции
        li.nav-item.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="articles-health.html" id="mobil-navbarDropdownMenuLinkArticle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                h3 Статьи
            .dropdown-menu(aria-labelledby="mobil-navbarDropdownMenuLinkArticle")
                a.dropdown-item(href="articles-health.html")
                    h3 Статьи о здоровье
                a.dropdown-item(href="recommendations.html")
                    h3 Рекомендации
        li.nav-item.nav-item
            a.nav-link(href="feedback.html")
                h3 Отзывы
        li.nav-item.nav-item
            a.nav-link(href="contact.html")
                h3 Контакты