nav
    .pagination-2
        .pagination__item.pagination__item_disabled
            .arrow
                a.pagination__link.pagination__link_prew(href="#")
        .pagination__item.arrow-right
            .arrow
                a.pagination__link.pagination__link_next(href="#")
        button.btn.button-second.button-second_padding смотреть всех
            a.no-opacity.link_full.popup-with-form(href="our-specialist.html")