.swiper-container.swiper-container_margin.d-none.d-xl-block
  .swiper-wrapper
    .swiper-slide
      img(src="img/big-slide-1.jpg" alt="slide1")
      .row
        .col-11.offset-1
          .swiper-slide__wrap
            .swiper-slide__caption
              h2 Отличные цены на обследование
              .swiper-slide__description МРТ, Энцефолограмма, ЭКГ
              .swiper-slide__text от 1900000000р
            button.button-second(onclick="location.href='name-service-cardiology.html'") подробнее

    .swiper-slide
      img(src="img/big-slide-2.jpg" alt="slide2")
      .row
        .col-11.offset-1
          .swiper-slide__wrap
            .swiper-slide__caption
              h2 Отличные цены
              .swiper-slide__description МРТ, Энцефолограмма, ЭКГ
              .swiper-slide__text от 150р
            button.button-second(onclick="location.href='name-service-cardiology.html'") подробнее

    .swiper-slide
      img(src="img/big-slide-3.jpg" alt="slide3")
      .row
        .col-11.offset-1
          .swiper-slide__wrap
            .swiper-slide__caption
              h2 На обследование
              .swiper-slide__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar arcu lectus eget convallis in nec maecenas elit. Pharetra lobortis aliquam porttitor convallis amet ut.
              .swiper-slide__text от 900р
            button.button-second(onclick="location.href='name-service-cardiology.html'") подробнее


  .page-wrapper
    .row
      .col-11.offset-1
        .swiper-pagination
        .swiper-button-next
        .swiper-button-prev