.specialists
    <div class="swiper-specialist">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                .card.card_doctor
                    img.card__img(src='img/doctor-1.jpg')
                    .card__description
                        h3.card__title Волков<br>Генадий<br>Анатольевич
                        span кардиолог
                        a(href='doctor-profile.html').card__link_full
            </div>
            <div class="swiper-slide">
                .card.card_doctor
                    img.card__img(src='img/doctor-3.jpg')
                    .card__description
                        h3.card__title Тихомиров<br>Ян<br>Васильевич
                        span кардиолог
                        a(href='doctor-profile.html').card__link_full
            </div>
            <div class="swiper-slide">
                .card.card_doctor
                    img.card__img(src='img/doctor-2.jpg')
                    .card__description
                        h3.card__title Скулкина<br>Евангелина<br>Борисовна
                        span кардиолог
                        a(href='doctor-profile.html').card__link_full
            </div>
            <div class="swiper-slide">
                .card.card_doctor
                    img.card__img(src='img/doctor-1.jpg')
                    .card__description
                        h3.card__title Петров<br>Петр<br>Петрович
                        span кардиолог
                        a(href='doctor-profile.html').card__link_full
            </div>
            <div class="swiper-slide">
            .card.card_doctor
                img.card__img(src='img/doctor-1.jpg')
                .card__description
                    h3.card__title Петров<br>Петр<br>Петрович
                    span кардиолог
                    a(href='doctor-profile.html').card__link_full
            </div>
            <div class="swiper-slide">
            .card.card_doctor
                img.card__img(src='img/doctor-1.jpg')
                .card__description
                    h3.card__title Петров<br>Петр<br>Петрович
                    span кардиолог
                    a(href='doctor-profile.html').card__link_full
            </div>
            <div class="swiper-slide">
            .card.card_doctor
                img.card__img(src='img/doctor-1.jpg')
                .card__description
                    h3.card__title Петров<br>Петр<br>Петрович
                    span кардиолог
                    a(href='doctor-profile.html').card__link_full
            </div>
            <div class="swiper-slide">
            .card.card_doctor
                img.card__img(src='img/doctor-1.jpg')
                .card__description
                    h3.card__title Петров<br>Петр<br>Петрович
                    span кардиолог
                    a(href='doctor-profile.html').card__link_full
            </div>
            <div class="swiper-slide">
            .card.card_doctor
                img.card__img(src='img/doctor-1.jpg')
                .card__description
                    h3.card__title Петров<br>Петр<br>Петрович
                    span кардиолог
                    a(href='doctor-profile.html').card__link_full
            </div>
        </div>
        .specialists__navigations.mt-5
            nav
                .pagination-2.pagination-2_second
                    .pagination__item.pagination__item.swiper-navigation-prev
                        .arrow
                            .pagination__link.pagination__link_prew
                    .pagination__item.arrow-right.swiper-navigation-next
                        .arrow
                            .pagination__link.pagination__link_next
                    button.btn.button-second.button-second_padding смотреть всех
                        a.no-opacity.link_full(href="our-specialist.html")
    </div>