mixin amenities-card(data)
  a.amenities-card(href=data.url || '#' style=`background: linear-gradient(179.64deg, rgba(233, 239, 232, 0) -15.21%, rgba(233, 239, 232, 0.95) 87.52%), linear-gradient(0deg, #E9EFE8, #E9EFE8), url('${data.img}') center/cover no-repeat;`)
    .title.amenities-card__title=data.title