mixin business-card()
  .business-card.business-card_mb
    .business-card__body
      block
    .business-card__footer
      .business-card__btn
        a.button.button_second(href='#') Узнать больше
