mixin price(arr)
  .price
    if (arr.title)
      h2.title=arr.title
    .price__table
      each row in arr.list
        if(row.stock)
          .price__row
            p.price__stock=row.stock
        else
          a.price__row(href="service-cardiology.html")
            p.price__service=row.service
            p.price__cost=row.price
