block scripts
  script(src='libs/jquery/js/jquery.min.js' defer)
  script(src='libs/datepicker/js/jquery-ui.min.js' defer)
  script(src='libs/datepicker/js/datepicker-ru.js' defer)
  script(src='libs/bootstrap/js/bootstrap.min.js' defer)
  script(src='libs/dotdotdot/js/dotdotdot.js' defer)
  script(src='libs/lightslider/js/lightslider.min.js' defer)
  script(src='libs/magnific-popup/js/jquery.magnific-popup.min.js' defer)
  script(src='libs/swiper/js/swiper.min.js' defer)
  script(src='libs/maskedinput/js/maskedinput.min.js' defer)
  script(src='libs/fancybox/js/fancybox.min.js' defer)
  script(src='js/script.js' defer)