block scripts
  script(src='libs/jquery/js/jquery.min.js')
  script(src='libs/datepicker/js/jquery-ui.min.js')
  script(src='libs/datepicker/js/datepicker-ru.js')
  script(src='libs/bootstrap/js/bootstrap.min.js')
  script(src='libs/dotdotdot/js/dotdotdot.js')
  script(src='libs/lightslider/js/lightslider.min.js')
  script(src='libs/magnific-popup/js/jquery.magnific-popup.min.js')
  script(src='libs/swiper/js/swiper.min.js')
  script(src='js/script.js')