.amenities {

  &__head {
    width: 100%;
    position: relative;
    margin-bottom: 80px;
  }

  &__more {
    color: #F55E21;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;

    @media (max-width: 576px) {
      font-size: 12px;
    }

    &:hover {
      color: #F55E21;
    }
  }

  &__wrap {
    position: relative;
    width: 100%;
    height: auto;

    &::after {
      position:absolute;
      left: 50%;
      margin-left: -45%;
      content: '';
      width: 90%;
      height: 100%;
      top: 40px;
      border: 2px solid #E9EFE8;
    }
  }

  &__pic {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;

    background: url('../img/pattern.png') center/contain repeat;

    &_black-background::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }

    & .img {
      height: 100%;
      transition: transform .25s ease-in;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: 50%;
      transition: transform .25s ease-in;
    }
  }

  &__text {
    padding: 20px 40px 80px 40px;
    width: 90%;
    height: 100%;
    top: 40px;
    left: 50%;
    margin-left: -45%;
    position: absolute;

    & .title {
      display: inline-block;
      max-width: 75%;
      transition: margin-top .25s ease-in;
    }

    & p {
      display: inline-block;
      max-width: 75%;
      opacity: 0;
      margin-top: 150px;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 164%;
      color: #fff;
      transition: opacity .25s ease-in, margin-top .25s ease-in;
    }
  }

  &__next {
    text-align: right;
    position: absolute;
    right: 50px;
    bottom: 80px;
    font-size: 20px;
    color: #fff;
  }

  &__link {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__description {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 50px;
  }

  &__cost {
    display: inline-block;
    width: 100%;
    word-wrap: break-word;
    text-align: right;
    font-weight: 600;
    font-size: 18px;
  }

  & .accordion {
    margin-bottom: 160px;
  }
}

.card-spoiler {
  position: relative;
  background-color: #E9EFE8;
  border-bottom: 2px solid white;

  &:last-child {
    border-bottom: 0;

    .card-b-block:last-child {
      border-bottom: 2px solid #E9EFE8;
    }
  }


}

.card-spoiler-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.card-b-header {
  padding: 20px 40px;
  position: relative;

  &:hover {
    background-color: hsl(111, 18%, 85%);;
  }

  & a {
    font-weight: 600;
  }
}

.plus {
  position:absolute;
  top: 50%;
  margin-top: -10px;
  right: 15px;
  content: '';
  width: 20px;
  height: 20px;
  background: url("../svg/plus.svg") 50%/contain no-repeat;
}

[aria-expanded=true] + .plus {
  background:url("../svg/minus.svg") 50%/contain no-repeat;
}

.card-b-body {
  width: 100%;

  &_no-first {
    .card-b-block:first-child {
      background-color: #fff;
    }
  }
}

.card-b-block {
  position: relative;
  padding: 20px 40px;
  font-weight: normal;
  font-size: 18px;

  background-color: #fff;
  border: 2px solid #E9EFE8;
  border-bottom: 0;

  &:hover {
    background-color: #679100;
    color: white;
  }

  &:first-child {
    background-color: #E9EFE8;
  }

  &:last-child {
    margin-bottom: -2px;
  }

  &_more {
    padding-top: 5px;
  }

  & .col-2 {
    min-width: 120px;
    display:flex;
    align-items: flex-end;
  }
}

@media (min-width: 992px) {
  .amenities {

    &__head {

      &:hover {

        & .amenities__pic {

          & .img {
            transform: scale(1.2);
          }

          & img {
            transform: scale(1.2);
          }
        }

        & p {
          opacity: 1;
          margin-top: 20px;
        }

        & .title {
          margin-top: 0;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .amenities {

    &__head {

      & p {
        display: none;
      }

      & .title {
        margin-top: 0;
      }
    }

    &__text {
      flex-direction: column;

      & .title {
        align-self: flex-start;
        font-size: 30px;
      }
    }

    &__next {
      font-size: 18px;
    }

    & .accordion {
      margin-bottom: 80px;
    }
  }

  .card-b-header {
    padding: 10px 20px;
  }

  .card-b-block {
    padding: 5px 20px 10px 20px;
  }
}

@media (max-width: 768px) {
  .amenities {

    &__text {
      padding: 20px;

      & .title {
        font-size: 25px;
      }
    }

    &__next {
      font-size: 16px;
      right: 30px;
      bottom: 60px;
    }
  }
}

@media (max-width: 576px) {
  .amenities {

    &__pic {
      height: 50vw;
    }

    &__description {
      font-size: 16px;
      margin-bottom: 40px;
    }

    &__name {
      font-weight: normal;
      font-size: 14px;
      line-height: 164%;
    }

    &__cost {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.05em;
    }
  }

  .card-b-block {
    padding-bottom: 12px;
  }

  .card-b-header {

    & a {
      font-size: 18px;
    }
  }

  .price {

    .title_margin {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 410px) {
  .amenities {

    &__wrap {

      &::after {
        top: 20px;
      }
    }

    &__head {
      margin-bottom: 40px;
    }

    &__text {
      height: 90%;
      display: flex;
      top: 20px;

      & .title {
        font-size: 20px;
      }
    }

    &__next {
      bottom: 20px;
      font-size: 14px;
    }
  }
}