.white-popup.mfp-hide(id="form-popup")
    .button-close.mfp-close
    .popup__wrap
        h2.title.title_gray Заявка на вызов врача
        form.popup__form.popup__form_mt
            .popup__form-area
                .row.no-gutters.w-100
                    .col-12.col-md-3
                        label.popup__item-wrap.h-100(for="call-name")
                            span.required-field Ваше имя
                    .col-12.col-md-9.d-flex.justify-content-end
                        input.popup__field.inputbox(id="call-name" type="text" placeholder="введите имя" required)
            .popup__form-area
                .row.no-gutters.w-100
                    .col-12.col-md-3
                        label.popup__item-wrap.h-100(for="call-tel")
                            span.required-field Телефон
                    .col-12.col-md-9.d-flex.justify-content-end
                        input.popup__field.inputbox(id="call-tel" type="tel" placeholder="+7-(___)-_______" required)
            .popup__form-area
                .row.no-gutters.w-100
                    .col-12.col-md-3
                        label.popup__item-wrap.h-100(for="call-direction")
                            span Направление
                    .col-12.col-md-9.d-flex.justify-content-end
                        .select-wrapper.d-flex.justify-content-end
                            select.popup__field(id="call-direction")
                                option(selected disabled value="") Выбрать направление
                                option направление 1
                                option направление 2
                                option направление 3
            .popup__form-area
                .row.no-gutters.w-100
                    .col-12.col-md-3
                        label.popup__item-wrap.h-100(for="call-time")
                            span Удобное время для звонка
                    .col-12.col-md-9.d-flex.justify-content-end
                        .select-wrapper.d-flex.justify-content-end
                            select.popup__field.popup__field_bb(id="call-time")
                                option(selected) 10:30-13:00
                                option 13:00-14:00
                                option 14:30-15:00
                                option 15:00-16:00
            label.popup__item-wrap.popup__item-wrap_mt-30(for="call-checkbox")
                input.popup__checkbox.inputbox(id="call-checkbox" type="checkbox" checked)
                span.popup__checkbox-fake
                span.popup__checkbox-text Нажимая на кнопку, вы даете согласие на обработку персональных данных.
            span.required-field.required-field_left.popup__item-wrap_mt-15 Обязательное поле для заполнения
            input.btn.button-first.button-first_mt.button-first_border(type="submit" value="вызов врача")