.white-popup.mfp-hide(id="form-popup-feedback")
    .button-close.mfp-close
    .popup__wrap
        h2.title.title_gray Оставить отзыв
        form.popup__form.popup__form_mt
            .popup__form-area
                .row.no-gutters.w-100
                    .col-12.col-md-3
                        label.popup__item-wrap.h-100(for="name")
                            span.required-field Ваше имя
                    .col-12.col-md-9.d-flex.justify-content-end
                        input.popup__field.inputbox(id="name" type="text" placeholder="введите имя" required)
            .popup__form-area
                .row.no-gutters.w-100
                    .col-12.col-md-3
                        label.popup__item-wrap.h-100(for="email")
                            span.required-field E-mail
                    .col-12.col-md-9.d-flex.justify-content-end
                        input.popup__field.inputbox(id="email" type="email" placeholder="введите e-mail" required)
            //.popup__form-area
            //    .row.no-gutters.w-100
            //        .col-12.col-md-3
            //            label.popup__item-wrap.h-100(for="direction")
            //                span Направление
            //        .col-12.col-md-9.d-flex.justify-content-end
            //            select.popup__field(id="direction")
            //                option(selected disabeled) Выбрать направление
            //                option направление 1
            //                option направление 2
            //                option направление 3
            //.popup__form-area
            //    .row.no-gutters.w-100
            //        .col-12.col-md-3
            //            label.popup__item-wrap.h-100(for="name-doctor")
            //                span ФИО врача
            //        .col-12.col-md-9.d-flex.justify-content-end
            //            input.popup__field.inputbox(id="name-doctor" type="text" placeholder="введите ФИО врача")
            .popup__form-area
                .row.no-gutters.w-100
                    .col-12.col-md-3
                        label.popup__item-wrap.mt-3(for="comment")
                            span.required-field Комментарий
                    .col-12.col-md-9.d-flex.justify-content-end
                        textarea.popup__textarea.popup__field.popup__field_bb.inputbox(id="comment" placeholder="введите ваш комментарий" required)
            span.required-field.required-field_left.popup__item-wrap_mt-30 Обязательное поле для заполнения
            input.btn.button-first.button-first_mt.button-first_border(type="submit" value="оставить отзыв")