.modal.fade(id="appointment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
    .modal-dialog(role="document")
        .modal-content
            .modal-header
                h4.modal-title Modals
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times
            .modal-body
                p One fine body&hellip;
            .modal-footer
                button(type="button" class="btn btn-secondary" data-dismiss="modal") Close