.white-popup.mfp-hide(id="form-popup-thanks-feedback")
    .button-close.mfp-close
    .popup__wrap-text
        h2.popup__title.title.title_gray спасибо за ваш отзыв!
        span.popup__text мы ценим ваше мнение